.inspiration h1 {
  text-align: center;
  padding: 30px 60px 0 60px;
}
.inspiration .content {
  padding: 15px 10px 10px 10px;
}
@media (min-width: 550px) {
  .inspiration .content {
    padding: 15px 25px 30px 25px;
  }
}
@media (min-width: 960px) {
  .inspiration .content {
    padding: 15px 60px 30px 60px;
  }
}

.section.form {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0;
  border-bottom: 1px solid #333;
  margin-bottom: 15px;
}
@media (min-width: 550px) {
  .section.form {
    padding: 20px 0;
    margin-bottom: 25px;
  }
}
@media (min-width: 768px) {
  .section.form {
    padding: 40px 0;
    margin-bottom: 50px;
  }
}
@media (min-width: 960px) {
  .section.form {
    margin-bottom: 75px;
  }
}

.grid {
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid li {
  width: 50%;
  padding: 8px;
  margin-top: 0;
}

.section.form .selection {
  width: 100%;
  padding: 8px;
}
@media (min-width:550px) {
  .grid li,
  .section.form .selection {
    width: 50%;
  }
}
@media (min-width:768px) {
  .grid li,
  .section.form .selection {
    width: 25%;
    padding: 8px;
  }
}
.grid li.extend {
  width: 50%;
}
.grid li.extend-2 {
  width: 75%;
}
.grid li.extend-3 {
  width: 100%;
}
.grid li a,
.grid li a img {
  display: block;
  margin: 0 auto;
}
.grid li .grid li-big {
  display: none;
}
.section.form .selection label {
  display: block;
  font-weight: 500;
  font-size: 12px;
}
.section.form .selection .form-item-wrap {
  padding: 4px;
  border: 1px solid #8d8d8d;
  margin: .5em 0;
}
.section.form .selection .form-item-wrap select {
  width: 100%;
  font-size: 14px;
  border: 0 solid transparent;
  background: transparent;
  color: #8d8d8d;
}
.section.form .selection .form-item-wrap select:focus {
  outline: none;
}
.section.form .selection .form-item-wrap.focus {
  border-color: #000000;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}
.section.form .selection .form-item-wrap.focus select {
  color: #000;
}

.modified .grid li {
  display: none;
}
.modified .grid li.show {
  display: block;
}
