.section.form {
  display: flex;
  padding: 40px 0;
  border-bottom: 1px solid #333;
}
.grid-item,
.section.form .selection {
  width: 25%;
  padding: 8px;
}
.grid-item.extend {
  width: 50%;
}
.grid-item.extend-2 {
  width: 75%;
}
.grid-item.extend-3 {
  width: 100%;
}
.grid-item a,
.grid-item a img {
  display: block;
}
.section.form .selection label {
  display: block;
  font-weight: 500;
  font-size: 12px;
}
.section.form .selection .form-item-wrap {
  padding: 4px;
  border: 1px solid #8d8d8d;
  margin: .5em 0;
}
.section.form .selection .form-item-wrap select {
  width: 100%;
  font-size: 14px;
  border: 0 solid transparent;
  background: transparent;
  color: #8d8d8d;
}
.section.form .selection .form-item-wrap select:focus {
  outline: none;
}
.section.form .selection .form-item-wrap.focus {
  border-color: #000000;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}
.section.form .selection .form-item-wrap.focus select {
  color: #000;
}

.modified .grid-item {
  display: none;
}
.modified .grid-item.show {
  display: block;
}
