.login #bgvid {position: fixed; left: 0; top: 0; width: 100vw; height: 100vh; z-index: -1;}
.login #bgvid video {object-fit: cover; height: 100vh; width: 100vw;}
.login body {background: #ed7236;}
.login main {justify-content: flex-end;}
.login .logo {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  width: 50%;
}
.login .logo svg {
  padding: 10% 30% 10% 0;
}
.login.dark main #login input:not([type=button]) {padding-bottom: 5px; color: #000;}
.login.dark main #login input:not([type=button]):focus { color: #000;}

@media (max-width: 1900px) {
  .login .logo svg {padding: 10% 20% 10% 10%;}
}
@media (max-width: 1440px) {
  .login .logo svg {padding: 10% 10% 10% 10%;}
}
@media (max-width: 1200px) {
  .login .logo svg {padding: 10% 15% 10% 5%;}
}
@media (max-width: 959px) {
  .login main {justify-content: center;}
  .login .logo {display: none;}
}
