.redesign {
  color: #000;
}
.redesign .content {
  width: 100%;
}
.redesign h1 {
  font-size: 44px;
}
.redesign .disc {
  max-width: 1000px; margin: 20px auto; font-size: 22px; font-weight: 300; padding: 10px 60px 0 60px;
}
.redesign .disc a {
  color: #fff; text-decoration: underline;
}
.redesign .disc a:hover {
  text-decoration: none;
}
.redesign-top {
  text-align: center;
  background: #6138F5;
  color: #fff;
  padding: 50px 20px 30px 20px;
}
.new-tiles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 50px auto 80px auto;
}
.new-tile {
  padding: 25px;
  flex: 0 1 33%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.new-tile img {max-width: 360px; margin: 0 auto;}
.four-tiles .new-tile {flex: 0 1 25%;}
.four-tiles .new-tile img {max-width: 100%;}
.new-tile h2 {font-size: 26px; margin: 0 0 .25em 0;}
.new-tile hr {
  height: 5px;
  width: 40px;
  background: #000;
}
.new-tile .tile-info {
  flex-grow: 1;
  font-size: 18px;
}
.new-tile .button {
  display: block;
  width: 40%;
  max-width: 290px;
  margin: 0 auto;
  position: relative;
}
.new-tile .button span {
  width: 100%;
  flex-shrink: 1;
  font-size: 16px;
  border-color: #000;
  background: #000;
  color: #fff;
  /* box-shadow: 0 5px 5px rgb(0 0 0 / 35%); */
  box-shadow: none;
}
.new-tile .button span {
  display: inline-block;
  width: auto;
}
.new-tile .button:focus span,
.new-tile .button:hover span {
  transform: none;
}
.new-tile .button:focus span,
.new-tile .button:hover span {
  background: #000;
  border-color: #000;
  color: #fff;
  box-shadow: none;
}
.redesign footer {padding: 30px 40px;}
.redesign footer .logo {width: 170px; padding: 0;}
.redesign .foot-inside {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
.redesign footer a {color: #fff; font-weight: bold; text-decoration: none; font-size: 24px;}
.redesign footer a:hover {text-decoration: underline;}
.redesign .logo {padding: 0;}

.lower {
  max-width: 1200px;
  margin: 0 auto;
}
.lower .new-tiles {
  margin: 50px auto;
}
.lower h2 {
  text-align: center;
}
.lower .new-tile a.link {
  font-weight: bold;
  color: #000;
  font-size: 18px;
  margin: 1rem 0 0 0;
  padding: 1rem 0;
  text-decoration: none;
}
.lower .new-tile a span {
  padding-bottom: 6px;
  border-bottom: 2px solid #ccc;
}
.lower .new-tile a:hover span{
  border-bottom-color: #0d0d0f;
}
.lower .new-tile p {
  font-size: 75%;
}

@media (max-width: 1200px) {
  .new-tile .tile-info {font-size: 18px;}
  .new-tile .button span {font-size: 14px;}
}
@media (max-width: 1040px) {
  .redesign .disc {font-size: 20px;}
  .new-tile h2 {font-size: 22px;}
  .new-tile .tile-info {font-size: 16px;}
  .lower .new-tile a {font-size: 15px;}
}
@media (max-width: 960px) {
  .redesign .four-tiles .new-tile {flex: 0 1 45%;}
  .redesign .disc {font-size: 18px; padding: 0 40px;}
  .redesign .disc a {font-size: 18px;}
  .lower .new-tiles {max-width: 650px; margin: 0 auto;}
}

@media (max-width: 768px) {
  .redesign .four-tiles .new-tile {flex: 0 1 50%;}
  .redesign h1 {font-size: 32px;}
  .redesign a {font-size: 18px;}
  .redesign footer {padding: 20px;}
  .redesign .foot-nav {text-align: right;}
}

@media (max-width: 550px) {
  .new-tile {flex-basis: 100%;}
  .new-tile img {max-width: 300px; margin: 0 auto;}
  .redesign footer .logo {width: 150px;}
  .redesign a {font-size: 14px;}
  .redesign .four-tiles .new-tile {flex: 0 1 50%;}
  .lower .new-tiles {max-width: 100%; margin: 0 auto;}
}
