/* Fonts */
/* XFINITY Sans Downloaded 04/07/2017 */
/* XFINITY Sans Thin */
@font-face {
  font-family: 'XfinityStandard';
  src: url("../fonts/XfinityStandard-Thin.woff2") format("woff2"), url("../fonts/XfinityStandard-Thin.woff") format("woff"), url("../fonts/XfinityStandard-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

/* XFINITY Sans Thin Italic */
@font-face {
  font-family: 'XfinityStandard';
  src: url("../fonts/XfinityStandard-ThinItalic.woff2") format("woff2"), url("../fonts/XfinityStandard-ThinItalic.woff") format("woff"), url("../fonts/XfinityStandard-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

/* XFINITY Sans Extra Light */
@font-face {
  font-family: 'XfinityStandard';
  src: url("../fonts/XfinityStandard-ExtraLight.woff2") format("woff2"), url("../fonts/XfinityStandard-ExtraLight.woff") format("woff"), url("../fonts/XfinityStandard-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

/* XFINITY Sans Extra Light Italic */
@font-face {
  font-family: 'XfinityStandard';
  src: url("../fonts/XfinityStandard-ExtraLightItalic.woff2") format("woff2"), url("../fonts/XfinityStandard-ExtraLightItalic.woff") format("woff"), url("../fonts/XfinityStandard-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }

/* XFINITY Sans Light */
@font-face {
  font-family: 'XfinityStandard';
  src: url("../fonts/XfinityStandard-Light.woff2") format("woff2"), url("../fonts/XfinityStandard-Light.woff") format("woff"), url("../fonts/XfinityStandard-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

/* XFINITY Sans Light Italic */
@font-face {
  font-family: 'XfinityStandard';
  src: url("../fonts/XfinityStandard-LightItalic.woff2") format("woff2"), url("../fonts/XfinityStandard-LightItalic.woff") format("woff"), url("../fonts/XfinityStandard-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

/* XFINITY Sans Regular */
@font-face {
  font-family: 'XfinityStandard';
  src: url("../fonts/XfinityStandard-Regular.woff2") format("woff2"), url("../fonts/XfinityStandard-Regular.woff") format("woff"), url("../fonts/XfinityStandard-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

/* XFINITY Sans Regular Italic */
@font-face {
  font-family: 'XfinityStandard';
  src: url("../fonts/XfinityStandard-RegularItalic.woff2") format("woff2"), url("../fonts/XfinityStandard-RegularItalic.woff") format("woff"), url("../fonts/XfinityStandard-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

/* XFINITY Sans Medium */
@font-face {
  font-family: 'XfinityStandard';
  src: url("../fonts/XfinityStandard-Medium.woff2") format("woff2"), url("../fonts/XfinityStandard-Medium.woff") format("woff"), url("../fonts/XfinityStandard-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

/* XFINITY Sans Medium Italic */
@font-face {
  font-family: 'XfinityStandard';
  src: url("../fonts/XfinityStandard-MediumItalic.woff2") format("woff2"), url("../fonts/XfinityStandard-MediumItalic.woff") format("woff"), url("../fonts/XfinityStandard-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

/* XFINITY Sans Bold */
@font-face {
  font-family: 'XfinityStandard';
  src: url("../fonts/XfinityStandard-Bold.woff2") format("woff2"), url("../fonts/XfinityStandard-Bold.woff") format("woff"), url("../fonts/XfinityStandard-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

/* XFINITY Sans Bold Italic */
@font-face {
  font-family: 'XfinityStandard';
  src: url("../fonts/XfinityStandard-BoldItalic.woff2") format("woff2"), url("../fonts/XfinityStandard-BoldItalic.woff") format("woff"), url("../fonts/XfinityStandard-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

/* XFINITY Sans Condensed Medium */
@font-face {
  font-family: 'XfinityStandardCondensed';
  src: url("https://edge.static-assets.top.comcast.net/staticsites/fonts/latest/Xfinity_Standard_Condensed/XfinityStandardCondensed-Medium.woff2") format("woff2"), url("https://edge.static-assets.top.comcast.net/staticsites/fonts/latest/Xfinity_Standard_Condensed/XfinityStandardCondensed-Medium.woff") format("woff"), url("https://edge.static-assets.top.comcast.net/staticsites/fonts/latest/Xfinity_Standard_Condensed/XfinityStandardCondensed-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

/* XFINITY Sans Condensed Bold */
@font-face {
  font-family: 'XfinityStandardCondensed';
  src: url("https://edge.static-assets.top.comcast.net/staticsites/fonts/latest/Xfinity_Standard_Condensed/XfinityStandardCondensed-Bold.woff2") format("woff2"), url("https://edge.static-assets.top.comcast.net/staticsites/fonts/latest/Xfinity_Standard_Condensed/XfinityStandardCondensed-Bold.woff") format("woff"), url("https://edge.static-assets.top.comcast.net/staticsites/fonts/latest/Xfinity_Standard_Condensed/XfinityStandardCondensed-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

/*
 * Legal Disclaimer
 *
 * for usage in HTML online banners and digital ads under the Xfinity Brand
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2018
 */
/* Xfinity Brown 20180-09-10 */
@font-face {
  font-family: "XfinityBrown";
  src: url("../fonts/XfinityBrownWeb-Bold.eot");
  src: url("../fonts/XfinityBrownWeb-Bold.woff") format("woff"), url("../fonts/XfinityBrownWeb-Bold.woff2") format("woff2");
  font-weight: 800; }

@font-face {
  font-family: "XfinityBrown";
  src: url("../fonts/XfinityBrownWeb-BoldItalic.eot");
  src: url("../fonts/XfinityBrownWeb-BoldItalic.woff") format("woff"), url("../fonts/XfinityBrownWeb-BoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: "XfinityBrown";
  src: url("../fonts/XfinityBrownWeb-Regular.eot");
  src: url("../fonts/XfinityBrownWeb-Regular.woff") format("woff"), url("../fonts/XfinityBrownWeb-Regular.woff2") format("woff2");
  font-weight: 400; }

@font-face {
  font-family: "XfinityBrown";
  src: url("../fonts/XfinityBrownWeb-Italic.eot");
  src: url("../fonts/XfinityBrownWeb-Italic.woff") format("woff"), url("../fonts/XfinityBrownWeb-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "XfinityBrown";
  src: url("../fonts/XfinityBrownWeb-Light.eot");
  src: url("../fonts/XfinityBrownWeb-Light.woff") format("woff"), url("../fonts/XfinityBrownWeb-Light.woff2") format("woff2");
  font-weight: 300; }

@font-face {
  font-family: "XfinityBrown";
  src: url("../fonts/XfinityBrownWeb-LightItalic.eot");
  src: url("../fonts/XfinityBrownWeb-LightItalic.woff") format("woff"), url("../fonts/XfinityBrownWeb-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic; }

/* Helvetica Neue Condensed */
@font-face {
  font-family: 'HelveticaNeueCondensed';
  src: url("../fonts/HelveticaNeueLTStd-Cn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Cn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Cn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* Xfinity Brand Hub specific fonts/glyphs */
@font-face {
  font-family: "cst-brand-hub";
  src: url("../fonts/cst-brand-hub.eot");
  src: url("../fonts/cst-brand-hub.eot?#iefix") format("embedded-opentype"), url("../fonts/cst-brand-hub.woff") format("woff"), url("../fonts/cst-brand-hub.ttf") format("truetype"), url("../fonts/cst-brand-hub.svg#cst-brand-hub") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "cst-brand-hub" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "cst-brand-hub" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-search:before {
  content: "\62"; }

.icon-play:before {
  content: "\61"; }

.icon-pause:before {
  content: "\63"; }

.icon-prv:before {
  content: "\64"; }

.icon-nxt:before {
  content: "\65"; }

/* Viewport Sizes */
/* Colors */
/* Techincal Sizes */
html,
html * {
  box-sizing: border-box; }

html.hide, html.hide body {
  overflow: hidden; }

body {
  margin: 0;
  padding: 0;
  color: #000000;
  background: #ffffff;
  font-family: "XfinityBrown", "Helvetica", "Arial", sans-serif; }

a {
  color: #999; }

img.border {
  border: 1px solid #ccc; }

img.rounded {
  border-radius: 4px; }

.inner {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto; }

/* footer */
footer {
  align-items: center;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 200;
  padding: 60px 30px 30px 0; }
  footer .inner {
    display: flex;
    align-items: center; }
  footer .logo {
    padding: 0 5%; }
    footer .logo a {
      display: block;
      width: 125px; }
      footer .logo a img {
        max-width: 100%; }
  footer p a {
    font-weight: bold;
    color: #000;
    text-decoration: none; }
    footer p a:hover {
      text-decoration: underline; }

@media (max-width: 550px) {
  footer {
    padding-top: 30px; }
    footer .logo img {
      width: 75px; } }

/* main */
main {
  display: flex;
  clear: both;
  position: relative;
  z-index: 1; }
  main .inner {
    display: flex; }

.content p.explore,
.content p.download {
  margin: 0 0 30px 0; }
  .content p.explore a,
  .content p.download a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-size: 0.875rem;
    display: flex; }
    .content p.explore a span,
    .content p.download a span {
      padding: 0 5px; }
    .content p.explore a svg,
    .content p.download a svg {
      height: 18px; }
    .content p.explore a:hover,
    .content p.download a:hover {
      text-decoration: underline;
      color: #999; }
      .content p.explore a:hover svg,
      .content p.explore a:hover svg *,
      .content p.download a:hover svg,
      .content p.download a:hover svg * {
        fill: #999; }

.two-col .sidebar {
  width: 200px; }
  .two-col .sidebar .logo {
    padding: 30px 100px 10px 0; }
  .two-col .sidebar #subnav {
    position: fixed;
    width: 200px;
    padding: 0 1.5% 30px 1.5%; }

.two-col .content {
  width: 80%; }
  @media (min-width: 1200px) {
    .two-col .content {
      width: calc(100% - 200px); } }
  @media (min-width: 1800px) {
    .two-col .content {
      padding-right: 140px; } }
  .two-col .content p {
    max-width: 1020px; }

.one-col .content {
  width: 100%; }

@media (max-width: 960px) {
  .two-col .content {
    margin: 20px; } }

@media (max-width: 768px) {
  .two-col .sidebar {
    padding: 30px 2.5% 30px 2.5%; } }

@media (max-width: 550px) {
  .two-col main > .inner {
    display: block; }
  .two-col .content,
  .two-col .sidebar {
    width: 100%;
    margin: 0; }
  .two-col .content {
    padding: 20px; } }

/* Sidebar */
.sidebar {
  background: #5a5a5c;
  color: #fff; }
  .sidebar.wht {
    background: #fff;
    color: #000; }
    .sidebar.wht ul li a {
      color: #000; }
      .sidebar.wht ul li a:hover {
        background: #5a5a5c;
        color: #fff; }
    .sidebar.wht .logo svg {
      fill: #000; }
  .sidebar.black {
    background: #000; }
  .sidebar .nav {
    padding-top: 25px; }
  .sidebar .logo svg {
    fill: #fff; }
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 5px 0; }
    .sidebar ul li {
      margin: 0;
      padding: 5px 0;
      font-size: 14px;
      font-size: 0.875rem;
      font-weight: 100; }
      .sidebar ul li .menu {
        padding: 0; }
      .sidebar ul li a {
        display: block;
        margin: 0 -10px;
        padding: 5px 10px;
        text-decoration: none;
        color: #fff;
        border-radius: 4px; }
        .sidebar ul li a:hover {
          background: #fff;
          color: #000; }
      .sidebar ul li.active > a {
        font-weight: bold; }
      .sidebar ul li li {
        font-size: 13px;
        font-size: 0.8125rem;
        padding: 0; }
        .sidebar ul li li a {
          padding: 6px 10px 6px 25px; }

@media (max-width: 768px) {
  #subnav ul li .menu {
    display: none; } }

@media (max-width: 550px) {
  .two-col .sidebar {
    background: #666;
    color: #fff;
    padding: 0; }
  #subnav ul.nav {
    overflow: auto;
    white-space: nowrap;
    padding: 0; }
  #subnav ul li {
    display: inline-block;
    margin: 10px 0;
    font-weight: 300; }
  #subnav ul li a {
    color: #fff;
    margin: 0;
    padding: 5px 20px;
    border-right: 1px solid #999; }
  #subnav ul li.active > a {
    text-decoration: underline; } }

/* Content Area */
section.with-tabs .tabs-wrapper {
  overflow: hidden; }

section.with-tabs .tabs {
  transition: .25s margin;
  display: flex; }

section.with-tabs .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }
  section.with-tabs .tab img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    width: 90%; }
  section.with-tabs .tab .tab-inner {
    position: relative;
    width: 100%; }
    section.with-tabs .tab .tab-inner .slideshow {
      overflow: hidden; }
      section.with-tabs .tab .tab-inner .slideshow ul {
        display: flex; }
    section.with-tabs .tab .tab-inner ul {
      list-style: none;
      margin: 0;
      padding: 0; }
  section.with-tabs .tab .options li {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  section.with-tabs .tab .optionNav {
    display: flex;
    justify-content: center;
    align-items: center; }
    section.with-tabs .tab .optionNav li a {
      display: block;
      height: 20px;
      width: 20px;
      margin: 5px;
      border: 2px solid #000;
      border-radius: 50%; }
      section.with-tabs .tab .optionNav li a.active {
        background: #000; }
  section.with-tabs .tab .tab-inner .optionNav {
    padding: 30px 0 10px 0; }
  section.with-tabs .tab.with-options .img {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0; }
  section.with-tabs .tab.with-options .option:not(:first-child) {
    display: none; }

section .optionWrap {
  list-style: none;
  margin: 0;
  padding: 0; }
  section .optionWrap.animate {
    transition: .25s margin; }
  section .optionWrap li {
    margin: 0;
    padding: 0; }
    section .optionWrap li img {
      display: block; }

body.button-wrapping .button span,
body:not(.button-wrapping) a.button {
  padding: 10px 15px;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  transition: color .25s, background .25s, transform .25s, box-shadow .25s;
  border-radius: 4px;
  text-decoration: none;
  font-family: "XfinityBrown", sans-serif;
  letter-spacing: -.04ex;
  line-height: 125%;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center; }
  @media (max-width: 550px) {
    body.button-wrapping .button span,
    body:not(.button-wrapping) a.button {
      display: block;
      text-align: center; } }
  @media (min-width: 1020px) {
    body.button-wrapping .button span,
    body:not(.button-wrapping) a.button {
      font-family: "XfinityBrown", sans-serif;
      letter-spacing: -.04ex;
      line-height: 125%;
      font-size: 13px;
      font-size: 0.8125rem; } }
  @media (min-width: 1400px) {
    body.button-wrapping .button span,
    body:not(.button-wrapping) a.button {
      font-family: "XfinityBrown", sans-serif;
      letter-spacing: -.04ex;
      line-height: 125%;
      font-size: 14px;
      font-size: 0.875rem; } }

body.button-wrapping .button {
  padding: 3px 0;
  display: inline-block;
  text-decoration: none;
  margin: 5px 12px 5px 0; }
  body.button-wrapping .button span {
    display: block; }
  body.button-wrapping .button:hover span {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
    transform: translateY(-3px); }
  body.button-wrapping .button.active span, body.button-wrapping .button:hover span {
    color: #000;
    background: #fff; }

body:not(.button-wrapping) a.button {
  display: inline-block;
  margin: 8px 12px 8px 0; }
  body:not(.button-wrapping) a.button:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
    transform: translateY(-3px); }
  body:not(.button-wrapping) a.button.active, body:not(.button-wrapping) a.button:hover {
    color: #000;
    background: #fff; }

.content {
  overflow: hidden;
  /* 8% between each column */ }
  .content h1 {
    margin: 0 0 .5em 0;
    font-family: "XfinityBrown", sans-serif;
    letter-spacing: -.04ex;
    line-height: 125%;
    font-size: 52px;
    font-size: 3.25rem;
    font-weight: 800; }
    @media (min-width: 1200px) {
      .content h1 {
        font-family: "XfinityBrown", sans-serif;
        letter-spacing: -.04ex;
        line-height: 125%;
        font-size: 72px;
        font-size: 4.5rem;
        font-weight: 800; } }
    @media (max-width: 768px) {
      .content h1 {
        margin-top: 15px;
        font-size: 48px;
        font-size: 3rem; } }
    .content h1 span {
      display: block;
      font-size: 75%;
      font-weight: 200;
      padding-bottom: 0px; }
  .content h2 {
    font-family: "XfinityBrown", sans-serif;
    letter-spacing: -.04ex;
    line-height: 125%;
    font-size: 36px;
    font-size: 2.25rem;
    font-weight: 800; }
  .content h3 {
    font-family: "XfinityBrown", sans-serif;
    letter-spacing: -.04ex;
    line-height: 125%;
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 20px 0 10px 0; }
  .content li,
  .content p {
    margin-top: 10px;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 150%; }
    .content li strong,
    .content p strong {
      font-weight: 500; }
  .content p.caption {
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 400;
    color: #999; }
  .content .flex-column ul.none,
  .content .flex-column ul.none li {
    list-style: none;
    padding: 0;
    margin: 0; }
  .content section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%; }
    @media (max-width: 768px) {
      .content section {
        margin-bottom: 75px; } }
    @media (max-width: 550px) {
      .content section {
        margin-bottom: 50px; } }
    .content section:focus {
      outline: none; }
    .content section .col-1 {
      width: 45%;
      padding: 2%;
      position: relative; }
    .content section .col-2 {
      width: 55%;
      padding: 0 2%; }
    .content section .tab-nav {
      list-style: none;
      margin: 0;
      padding: 0; }
      .content section .tab-nav li {
        margin: 0; }
        @media (min-width: 1020px) {
          .content section .tab-nav li {
            display: inline-block;
            min-width: 175px;
            margin: 0 2% 0 0; } }
        .content section .tab-nav li a {
          width: 100%; }
  .content .img {
    margin: 20px 0 40px 0; }
    .content .img img {
      display: block; }
    @media (min-width: 768px) {
      .content .img.width-60 img {
        max-width: 60%; }
      .content .img.width-65 img {
        max-width: 65%; }
      .content .img.width-70 img {
        max-width: 75%; }
      .content .img.width-75 img {
        max-width: 75%; }
      .content .img.width-80 img {
        max-width: 80%; }
      .content .img.width-85 img {
        max-width: 85%; } }
  .content img {
    max-width: 100%; }
  .content .flex-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .content .flex-column ul {
      margin: 10px 20px;
      padding: 0; }
    .content .flex-column.bottom {
      align-items: baseline; }
  .content .flex-2col > div {
    width: calc(50% - 10px); }
    @media (max-width: 768px) {
      .content .flex-2col > div {
        width: 100%; } }
  .content .flex-3col > div {
    width: calc(33.333% - 10px); }
    @media (max-width: 768px) {
      .content .flex-3col > div {
        width: 100%; } }
    .content .flex-3col > div.double {
      width: calc(66.666% - 10px); }
      @media (max-width: 768px) {
        .content .flex-3col > div.double {
          width: 100%; } }
  .content .flex-4col > div {
    width: calc(25% - 10px); }
    @media (max-width: 768px) {
      .content .flex-4col > div {
        width: calc(50% - 10px); } }
  .content .flex-column .img {
    margin: 10px 0; }
  .content .flex-column > div.extend {
    width: 100%; }
  .content .flex-column .no-mobile {
    display: none; }

/* Brand */
#brand-story {
  display: none;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #000; }
  #brand-story h1 {
    font-size: 72px;
    font-size: 4.5rem; }

/* Color */
#color .color-swatches {
  display: flex;
  flex-flow: row wrap;
  height: 75vh;
  position: relative; }
  #color .color-swatches .color {
    display: block;
    border-radius: 4px;
    height: 100%;
    cursor: pointer; }
    #color .color-swatches .color.color-1 {
      border: 1px solid #ccc; }
    #color .color-swatches .color.color-2 {
      border: 1px solid #666; }
    #color .color-swatches .color.light {
      color: #fff; }
      #color .color-swatches .color.light span {
        color: rgba(255, 255, 255, 0.65); }
      #color .color-swatches .color.light .close-btn path {
        stroke: #fff; }
    #color .color-swatches .color.dark {
      color: #000; }
      #color .color-swatches .color.dark span {
        color: rgba(0, 0, 0, 0.35); }
      #color .color-swatches .color.dark .close-btn path {
        stroke: #000; }
    #color .color-swatches .color.color-1 {
      background: #ffffff; }
    #color .color-swatches .color.color-2 {
      background: #000000; }
    #color .color-swatches .color.color-3 {
      background: #EBEEF0; }
    #color .color-swatches .color.color-4 {
      background: #5A5A5C; }
    #color .color-swatches .color.color-5 {
      background: #C8001D; }
    #color .color-swatches .color.color-6 {
      background: #2B9CD8; }
  #color .color-swatches .swatch-info {
    cursor: text;
    opacity: 0;
    padding: 50px;
    border-radius: 4px;
    background: inherit;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: inherit;
    font-size: 18px;
    font-size: 1.125rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 50%;
    left: 0;
    top: 0;
    transform: translate(50%, 50%) scale(0.8);
    transition: opacity .25s, box-shadow .25s, transform .25s;
    pointer-events: none;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0); }
    #color .color-swatches .swatch-info h3 {
      font-size: 18px;
      font-size: 1.125rem;
      font-weight: bold; }
    #color .color-swatches .swatch-info ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      #color .color-swatches .swatch-info ul li {
        margin: 2px 0; }
        #color .color-swatches .swatch-info ul li span {
          font-weight: 100;
          color: #999; }
    #color .color-swatches .swatch-info .close-btn {
      position: absolute;
      right: 15px;
      top: 15px; }
    #color .color-swatches .swatch-info.active {
      opacity: 1;
      pointer-events: all;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.35);
      transform: translate(50%, 50%) scale(1); }
    @media (max-width: 1200px) {
      #color .color-swatches .swatch-info {
        padding: 20px; } }
  #color .color-swatches .ht-100 {
    height: 50%;
    padding: 5px; }
  #color .color-swatches .ht-66 {
    height: 66%;
    padding-bottom: 5px; }
  #color .color-swatches .ht-33 {
    padding-top: 5px;
    height: 33%; }
    #color .color-swatches .ht-33 .col-50:first-child {
      padding: 0 5px 0 0; }
    #color .color-swatches .ht-33 .col-50:last-child {
      padding: 0 0 0 5px; }
  #color .color-swatches .col-50 {
    flex-basis: 50%; }

#color .color-palette h4 span {
  font-weight: 400;
  font-size: 75%; }

/* Typography page */
#typography .type-wrap {
  padding: 20px 0; }

#typography blockquote {
  margin: 0;
  padding: 30px 40px;
  color: #000; }

#typography .live-type {
  text-align: center; }
  #typography .live-type.font-xfb {
    font-family: "XfinityBrown", sans-serif;
    letter-spacing: -.04ex;
    line-height: 125%;
    font-size: 48px;
    font-size: 3rem;
    font-weight: 800; }
    @media (min-width: 1200px) {
      #typography .live-type.font-xfb {
        font-family: "XfinityBrown", sans-serif;
        letter-spacing: -.04ex;
        line-height: 125%;
        font-size: 72px;
        font-size: 4.5rem;
        font-weight: 800; } }
  #typography .live-type.font-xfs {
    font-family: "XfinityStandard", sans-serif;
    line-height: 125%;
    font-size: 28px;
    font-size: 1.75rem; }
    @media (min-width: 1200px) {
      #typography .live-type.font-xfs {
        font-family: "XfinityStandard", sans-serif;
        line-height: 125%;
        font-size: 44px;
        font-size: 2.75rem; } }

#typography .slider {
  width: 100%;
  transition: opacity .5s;
  opacity: 0; }
  #typography .slider.show {
    opacity: 1; }
  #typography .slider .weights {
    list-style: none;
    margin: 0;
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #typography .slider .weights li {
      font-family: "XfinityBrown", sans-serif;
      letter-spacing: -.04ex;
      line-height: 125%;
      font-size: 14px;
      font-size: 0.875rem;
      font-weight: 800;
      transition: .25s; }
      #typography .slider .weights li:not(.active) {
        opacity: .10; }

#typography .weight {
  -webkit-appearance: none;
  appearance: none;
  height: 25px;
  width: 100%;
  padding: 10px 10px;
  background: transparent;
  outline: none;
  border: 0;
  margin: 0; }
  #typography .weight::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #999;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -8px;
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */ }
    #typography .weight::-webkit-slider-thumb:after {
      content: "x"; }
    #typography .weight::-webkit-slider-thumb:focus {
      color: #333; }
  #typography .weight::-webkit-slider-runnable-track {
    width: 95%;
    height: 4px;
    cursor: pointer;
    background: #dedede; }

#typography .usage {
  padding: 15px 40px; }
  #typography .usage span {
    -webkit-transition: 0.25s color;
    transition: 0.25s color; }
  #typography .usage:hover span {
    color: rgba(0, 0, 0, 0.15); }
  #typography .usage.usage-1 {
    font-family: "XfinityBrown", sans-serif;
    letter-spacing: -.04ex;
    line-height: 125%;
    font-size: 42px;
    font-size: 2.625rem;
    font-weight: 800; }
    @media (max-width: 1400px) {
      #typography .usage.usage-1 {
        font-family: "XfinityBrown", sans-serif;
        letter-spacing: -.04ex;
        line-height: 125%;
        font-size: 32px;
        font-size: 2rem;
        font-weight: 800; } }
  #typography .usage.usage-2 {
    font-family: "XfinityBrown", sans-serif;
    letter-spacing: -.04ex;
    line-height: 125%;
    font-size: 28px;
    font-size: 1.75rem;
    font-weight: 800; }
    @media (max-width: 1400px) {
      #typography .usage.usage-2 {
        font-family: "XfinityBrown", sans-serif;
        letter-spacing: -.04ex;
        line-height: 125%;
        font-size: 22px;
        font-size: 1.375rem;
        font-weight: 800; } }
  #typography .usage.usage-3 {
    font-family: "XfinityBrown", sans-serif;
    letter-spacing: -.04ex;
    line-height: 125%;
    font-size: 18px;
    font-size: 1.125rem; }
    @media (max-width: 1400px) {
      #typography .usage.usage-3 {
        font-family: "XfinityBrown", sans-serif;
        letter-spacing: -.04ex;
        line-height: 125%;
        font-size: 16px;
        font-size: 1rem; } }
  #typography .usage.usage-4 {
    font-family: "XfinityStandard";
    font-size: 16px;
    font-size: 1rem; }
    @media (max-width: 1400px) {
      #typography .usage.usage-4 {
        font-size: 14px;
        font-size: 0.875rem; } }
  #typography .usage.usage-5 {
    font-family: "XfinityBrown", sans-serif;
    letter-spacing: -.04ex;
    line-height: 125%;
    font-size: 26px;
    font-size: 1.625rem;
    font-weight: 800; }
    @media (max-width: 1400px) {
      #typography .usage.usage-5 {
        font-family: "XfinityBrown", sans-serif;
        letter-spacing: -.04ex;
        line-height: 125%;
        font-size: 23px;
        font-size: 1.4375rem;
        font-weight: 800; } }
  #typography .usage.usage-6 {
    font-family: "HelveticaNeueCondensed";
    font-size: 12px;
    font-size: 0.75rem; }

/* Photography */
.mosaic {
  display: flex;
  flex-wrap: wrap;
  max-width: 636px; }
  .mosaic img {
    display: block; }
  .mosaic .tab-nav li:nth-of-type(2n) {
    display: block; }
  .mosaic .row {
    display: flex;
    align-items: stretch;
    margin: 5px 0;
    width: 100%; }
  .mosaic .col {
    margin: 0 5px; }
    .mosaic .col.col-1-3 {
      width: 39%; }
    .mosaic .col.col-2-3 {
      width: 61%; }
  .mosaic .col-special {
    flex-shrink: 0;
    border-radius: 4px;
    overflow: hidden; }
  .mosaic .spacer {
    height: 10px; }
  .mosaic .photo {
    border-radius: 4px;
    overflow: hidden; }
    .mosaic .photo.border {
      border: 1px solid #ccc; }
    .mosaic .photo:not(.default) {
      display: none; }
  .mosaic .photo-info-wrap {
    height: 100%;
    width: 500%;
    display: flex;
    align-items: stretch;
    transition: .25s margin; }
    .mosaic .photo-info-wrap .photo-info {
      display: flex;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      background: #fff;
      width: 20%;
      padding: 0 25px;
      border: 1px solid #ccc;
      border-radius: 4px; }
      .mosaic .photo-info-wrap .photo-info.blk {
        border: 0;
        background: #000;
        color: #fff; }
      .mosaic .photo-info-wrap .photo-info.gry {
        border: 0;
        background: #5a5a5c;
        color: #fff; }
      .mosaic .photo-info-wrap .photo-info.ltg {
        border: 0;
        background: #ebeef0;
        color: #000; }
        .mosaic .photo-info-wrap .photo-info.ltg h3 {
          color: #999; }
      .mosaic .photo-info-wrap .photo-info p {
        font-size: 14px;
        font-size: 0.875rem; }
        @media (min-width: 1200px) {
          .mosaic .photo-info-wrap .photo-info p {
            font-size: 18px;
            font-size: 1.125rem; } }
      .mosaic .photo-info-wrap .photo-info#photography-null {
        background: transparent; }

/* Brand Symbol */
.tab .info {
  padding: 10px; }
  .tab .info h3 {
    font-size: 20px;
    font-size: 1.25rem; }
  .tab .info p {
    font-size: 14px;
    font-size: 0.875rem; }
    @media (min-width: 1200px) {
      .tab .info p {
        font-size: 18px;
        font-size: 1.125rem; } }

.tab .lightbox-shade {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: .25s opacity;
  pointer-events: none; }
  .tab .lightbox-shade.active {
    opacity: 1;
    pointer-events: auto; }
  .tab .lightbox-shade .lightbox {
    position: relative;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    background: #fff;
    width: 75%;
    z-index: 1; }
    .tab .lightbox-shade .lightbox.text {
      padding: 10px 30px; }
    .tab .lightbox-shade .lightbox img {
      display: block;
      max-width: 100%;
      width: 100%; }
    .tab .lightbox-shade .lightbox .close {
      position: absolute;
      z-index: 2;
      right: 0;
      top: 0;
      transform: translate(40%, -40%);
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ededed;
      border-radius: 50%;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      transition: .25s background-color; }
      .tab .lightbox-shade .lightbox .close svg path {
        transition: stroke .25s; }
      .tab .lightbox-shade .lightbox .close:hover {
        background-color: #ccc; }
        .tab .lightbox-shade .lightbox .close:hover svg path {
          stroke: #fff; }

.tab .quadWrap {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .tab .quadWrap li {
    flex-basis: calc(50% - 40px);
    flex-grow: 1;
    margin: 10px;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    border: 1px solid #ccc; }
    .tab .quadWrap li:before {
      content: '';
      float: left;
      padding-top: 100%; }
    .tab .quadWrap li a {
      display: block;
      text-decoration: none;
      color: #000; }
    .tab .quadWrap li img {
      display: block;
      max-width: 100%;
      width: 100%; }
    .tab .quadWrap li.text a {
      position: absolute;
      left: 0;
      top: 0;
      padding: 10px; }
      @media (min-width: 1200px) {
        .tab .quadWrap li.text a {
          padding: 20px; } }
    .tab .quadWrap li.text .expand {
      display: block;
      position: absolute;
      top: -5px;
      right: -5px;
      text-align: right;
      pointer-events: none; }
      .tab .quadWrap li.text .expand svg {
        transform: scale(0.5) rotate(45deg); }
    .tab .quadWrap li .fade {
      height: 25%;
      width: 100%;
      background: linear-gradient(0deg, white, transparent);
      position: absolute;
      bottom: 0;
      left: 0; }

/* Downloads */
#downloads {
  display: block;
  padding-top: 15vh; }
  #downloads .button {
    min-width: 150px; }
  #downloads section {
    display: block;
    min-height: auto;
    padding: 40px 0;
    border-bottom: 1px solid #ccc; }
    #downloads section .download-intro {
      padding: 20px;
      background: #fff;
      border-radius: 4px;
      display: flex;
      align-items: center; }
      #downloads section .download-intro .flex-col {
        width: 50%; }
      #downloads section .download-intro .flex-col-1 {
        text-align: left; }
      #downloads section .download-intro .flex-col-2 {
        text-align: right; }
    #downloads section .download-contents {
      background: #efefef;
      padding: 10px 0;
      display: none; }
      #downloads section .download-contents ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start; }
      #downloads section .download-contents li {
        width: 20%;
        padding: 15px; }
      #downloads section .download-contents img {
        border: 1px solid #333;
        max-width: 100%; }
      #downloads section .download-contents .download-links {
        padding: 0 15px; }

/* Intro slide */
.intro .caption {
  font-size: 48px;
  font-size: 3rem;
  color: #fff; }

/* General */
.ah {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

@media (min-width: 551px) {
  .mobile550 {
    display: none; } }

/* Color changing */
body[data-bg=drk-gry],
body[data-bg=black] {
  background: #000;
  color: #fff; }
  body[data-bg=drk-gry].button-wrapping .button span,
  body[data-bg=drk-gry]:not(.button-wrapping) .button,
  body[data-bg=black].button-wrapping .button span,
  body[data-bg=black]:not(.button-wrapping) .button {
    border-color: #fff;
    background: #fff;
    color: #000; }
  body[data-bg=drk-gry].button-wrapping .button.active span, body[data-bg=drk-gry].button-wrapping .button:hover span,
  body[data-bg=black].button-wrapping .button.active span,
  body[data-bg=black].button-wrapping .button:hover span {
    background: #000;
    color: #fff; }
  body[data-bg=drk-gry]:not(.button-wrapping) .button.active, body[data-bg=drk-gry]:not(.button-wrapping) .button:hover,
  body[data-bg=black]:not(.button-wrapping) .button.active,
  body[data-bg=black]:not(.button-wrapping) .button:hover {
    background: #000;
    color: #fff; }
  body[data-bg=drk-gry] .optionNav a,
  body[data-bg=black] .optionNav a {
    border-color: #fff !important; }
  body[data-bg=drk-gry] .optionNav a.active,
  body[data-bg=black] .optionNav a.active {
    background: #fff !important; }
  body[data-bg=drk-gry] .sidebar,
  body[data-bg=black] .sidebar {
    background: #fff;
    color: #000; }
    body[data-bg=drk-gry] .sidebar .logo svg,
    body[data-bg=black] .sidebar .logo svg {
      fill: #000; }
    body[data-bg=drk-gry] .sidebar a,
    body[data-bg=black] .sidebar a {
      color: #000; }
      body[data-bg=drk-gry] .sidebar a:hover,
      body[data-bg=black] .sidebar a:hover {
        color: #fff;
        background: #000; }
  body[data-bg=drk-gry] #typography blockquote,
  body[data-bg=black] #typography blockquote {
    color: #fff; }
  body[data-bg=drk-gry] #typography .weight::-webkit-slider-thumb,
  body[data-bg=black] #typography .weight::-webkit-slider-thumb {
    background: #000;
    border-color: #666; }
  body[data-bg=drk-gry] #typography .weight::-webkit-slider-runnable-track,
  body[data-bg=black] #typography .weight::-webkit-slider-runnable-track {
    background-color: #333; }
  body[data-bg=drk-gry] .content p.download a,
  body[data-bg=black] .content p.download a {
    color: #ccc; }
    body[data-bg=drk-gry] .content p.download a svg *,
    body[data-bg=black] .content p.download a svg * {
      fill: #ccc; }
    body[data-bg=drk-gry] .content p.download a:hover,
    body[data-bg=black] .content p.download a:hover {
      color: #999; }
      body[data-bg=drk-gry] .content p.download a:hover svg *,
      body[data-bg=black] .content p.download a:hover svg * {
        fill: #999; }
  body[data-bg=drk-gry].button-wrapping .download-intro .button span,
  body[data-bg=black].button-wrapping .download-intro .button span {
    border-color: #000;
    background: #000;
    color: #fff; }
  body[data-bg=drk-gry].button-wrapping .download-intro .button.active span, body[data-bg=drk-gry].button-wrapping .download-intro .button:hover span,
  body[data-bg=black].button-wrapping .download-intro .button.active span,
  body[data-bg=black].button-wrapping .download-intro .button:hover span {
    background: #fff;
    color: #000; }
  body[data-bg=drk-gry]:not(.button-wrapping) .download-intro .button.active, body[data-bg=drk-gry]:not(.button-wrapping) .download-intro .button:hover,
  body[data-bg=black]:not(.button-wrapping) .download-intro .button.active,
  body[data-bg=black]:not(.button-wrapping) .download-intro .button:hover {
    background: #fff;
    color: #000; }

body[data-bg=drk-gry] {
  background: #1e1e1e; }
