html, html * {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "XfinityStandard", "Helvetica", "Arial", sans-serif;
}

a {
  color: #999;
}

.inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

header {
}
header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header ul a {
  color: #989393;
  text-decoration: none;
}
header .upper-head {
  border-bottom: 1px solid #000;
}
header .upper-head ul {
  text-align: right;
  font-size: 13px;
  font-weight: 400;
}
header .upper-head .icon-search {
  font-size: 18px;
  color: #000;
  display: block;
  transform: translateY(20%);
}
header .lower-head ul li,
header .upper-head ul li {
  display: inline-block;
  padding: 0 11px;
}
header .lower-head ul a,
header .upper-head ul a {
  display: block;
  padding: 4px 0 3px 0;
  transition: .25s;
  border-bottom: 2px solid transparent;
}
header .upper-head ul a {
  color: #000;
  border-bottom-width: 2px;
}
header .lower-head ul a:hover {
  border-color: #989393;
}
header .lower-head ul li.active a,
header .upper-head ul li.active a,
header .upper-head ul a:hover {
  color: #000;
  border-color: #000;
}

header .lower-head ul {
  font-size: 18px;
  font-weight: 500;
  padding: 0 4px;
}
header .lower-head ul li {
  padding: 0 16px;
}
header .lower-head ul a {
  padding: 16px 0 9px 0;
}

header .lower-head .inner,
header .upper-head .inner {
  display: flex;
  max-width: 1200px;
  align-items: flex-end;
}
header .upper-head .inner {
  justify-content: flex-end;
}
header .lower-head .inner {
  height: 70px;
}
header .logo {
  width: 25%;
}
header nav {
  width: 75%;
  /* margin-left: 70px; */
}

header .logo.desktop {
  display: block;
  padding: 5px 0 0 5%;
  align-self: center;
}
header .logo.mobile {
  display: none;
  margin: 10px 5% 7px 5%;
}
header .logo a {
  border: 0;
  display: block;
  width: 125px;
}
header .logo a img {
  max-width: 100%;
}
@media (max-width: 768px) {
  header .logo.desktop {
    display: none;
    text-align: center;
  }
  header .logo.mobile {
    display: block;
  }
  header .lower-head ul {
    font-size: 16px;
  }
  header .lower-head ul li {
    margin: 0; padding: 0;
  }
  header .lower-head ul a {
    padding: 16px 12px 9px 12px;
  }
  header .upper-head {
    padding-right: 20px;
  }
  header .upper-head ul li,
  header .upper-head ul a {
    padding-left: 3px;
    padding-right: 3px;
  }
}
@media (max-width: 550px) {
  header .upper-head .inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  header .logo.mobile {
    float: none;
  }
  header .logo.mobile a img {
    width: 75px;
  }
}
@media (max-width: 420px) {
  header .upper-head .inner {
    display: block;
  }
}

/* footer */
footer {
  align-items: center;
  font-size: 15px;
  font-weight: 200;
  padding: 60px 30px 30px 0;
}
footer .inner {
  display: flex;
  align-items: center;
}
footer .logo {
  padding: 0 5%;
}
footer .logo a {
  display: block;
  width: 125px;
}
footer .logo a img {
  max-width: 100%;
}

footer p a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}
footer p a:hover {
  text-decoration: underline;
}

@media (max-width: 550px) {
  footer {
    padding-top: 30px;
  }
  footer .logo img {
    width: 75px;
  }
}

/* main */

main {
  background: #F2F4F5;
  display: flex;
  clear: both;
}
main .inner {
  display: flex;
}

/* Footer Nav */
.page-nav {
  background: #666;
  background-size: cover;
  color: #fff;
  padding: 20px 0;
}
.page-nav .inner {
  background: url(../images/bg_btm-nav.png) center center no-repeat transparent;
  padding: 20px 80px;
  display: flex;
}
.page-nav .pager {
  position: relative;
  width: 50%;
  display: block;
}
.page-nav a {
  color: #fff;
  text-decoration: none;
}
.page-nav .page-prv {
  padding-left: 70px;
  background: url(../images/arw_lt.png) left center no-repeat transparent;
  background-size: contain;
}
.page-nav .page-prv .glyph {
  left: 0;
}
.page-nav .page-nxt {
  padding-right: 70px;
  text-align: right;
  background: url(../images/arw_gt.png) right center no-repeat transparent;
  background-size: contain;
}
.page-nav .page-nxt .glyph {
  right: 0;
}
.page-nav .pager .lil-ttl {
  font-size: 14px;
  font-weight: 300;
  display: block;
}
.page-nav .pager .ttl {
  font-size: 24px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .page-nav .inner {
    padding: 10px 20px;
  }
  .page-nav .pager .lil-ttl {
    font-size: 12px;
  }
  .page-nav .pager .ttl {
    font-size: 18px;
  }
  .page-nav .page-prv {
    padding-left: 55px;
  }
  .page-nav .page-nxt {
    padding-right: 55px;
  }
}

@media (max-width: 550px) {
  .page-nav .pager .lil-ttl {
    font-size: 10px;
  }
  .page-nav .pager .ttl {
    font-size: 16px;
  }
  .page-nav .page-prv {
    padding-left: 40px;
  }
  .page-nav .page-nxt {
    padding-right: 40px;
  }
}

/* Layout */
.two-col #subnav {
  width: 25%;
  padding: 25px 2% 30px 5%;
}
.two-col .content {
  width: 75%;
  padding: 20px 140px 40px 20px;
}
.one-col .content {
  width: 100%;
}

@media (max-width: 960px) {
  .two-col .content {
    margin: 20px;
  }
}

@media (max-width: 768px) {
  .two-col #subnav {
    padding: 30px 2.5% 30px 2.5%;
  }
}

@media (max-width: 550px) {
  .two-col main > .inner {
    display: block;
  }
  .two-col .content,
  .two-col #subnav {
    width: 100%;
    margin: 0;
  }
  .two-col .content {
    padding: 20px;
  }
}

/* Subnav */
#subnav {
}
#subnav ul,
#subnav ul li  {
  list-style: none;
  margin: 0;
  padding: 5px 0;
  font-size: 14px;
}
#subnav ul li .menu {
  padding: 0;
}
#subnav ul li a {
  display: block;
  margin: 0 -10px;
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
  transition: .25s;
}
#subnav ul li.active > a {
  font-weight: bold;
}
#subnav ul li a:hover {
  background: #666;
  color: #fff;
}
#subnav ul li li {
  font-size: 13px;
}
#subnav ul li li a {
  padding: 5px 10px 5px 25px;
}

@media (max-width: 768px) {
  #subnav ul li .menu {
    display: none;
  }
}

@media (max-width: 550px) {
  .two-col #subnav {
    background: #666;
    color: #fff;
    padding: 0;
  }
  #subnav ul {
    overflow: auto;
    white-space: nowrap;
    padding: 0;
  }
  #subnav ul li {
    display: inline-block;
    margin: 10px 0;
  }
  #subnav ul li a {
    color: #fff;
    margin: 0;
    padding: 5px 20px;
    border-right: 1px solid #999;
  }
  #subnav ul li.active > a {
    text-decoration: underline;
  }
}

/* Content Area */
.content {
  overflow: hidden;
}
.content h1 {
  margin: .5em 0;
}
.content h1,
.content h2 {
  font-size: 30px;
  font-weight: 800;
}
@media (max-width: 768px) {
  .content h1 {
    margin-top: 15px;
  }
  .content h1,
  .content h2 {
    font-size: 24px;
  }
}
.content h3 {
  font-size: 22px;
  font-weight: 400;
  margin: 20px 0 10px 0;
}
.content li,
.content p {
  font-size: 16px;
  line-height: 150%;
}
.content p {
  margin-top: 10px;
}
.content p.caption {
  font-size: 14px;
  font-weight: 400;
  color: #999;
}
.content a.button {
  display: inline-block;
  padding: 10px 25px;
  border: 1px solid #000;
  transition: .25s;
  border-radius: 3ex;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  margin:15px 15px 15px 0;
}
@media (max-width: 550px) {
  .content a.button {
    display: block;
    text-align: center;
  }
}
.content a.button:hover {
  background: #000;
  color: #fff;
}

.content section {
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .content section {
    margin-bottom: 75px;
  }
}
@media (max-width:550px) {
  .content section {
    margin-bottom: 50px;
  }
}

.content .img {
  margin: 20px 0;
}
.content .img img {
  display: block;
}

.content img {
  max-width: 100%;
}
.content .flex-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* 8% between each column */
.content .flex-2col > div {
  width: calc(50% - 10px);
}
.content .flex-3col > div {
  width: calc(33.333% - 10px);
}
.content .flex-4col > div {
  width: calc(25% - 10px);
}
.content .flex-column .img {
  margin: 10px 0;
}
.content .flex-column > div.extend {
  width: 100%;
}
.content .flex-3col > div.double {
  width: calc(66.666% - 10px);
}
.content .flex-column ul {
  margin: 10px 20px;
  padding: 0;
}
.content .flex-column.bottom {
  align-items: baseline;
}
@media (max-width: 768px) {
  .content .flex-2col > div,
  .content .flex-3col > div {
    width: 100%;
  }
  .content .flex-3col > div.double {
    width: 100%;
  }
  .content .flex-4col > div {
    width: calc(50% - 10px);
  }
  .content .flex-column .no-mobile {
    display: none;
  }
}

/* Home page */
.home .content .header {
  /*
  background: url(../images/bg-home.jpg) center center no-repeat;
  background-size: cover;
  color: #fff;
  padding: 175px 50% 250px 40px;
  */
  margin: 0;
}
.home .content .header img.lrg,
.home .content .header img.mid {
  display: none;
}
.home .content .header a,
.home .content .header a.button {
  color: #fff;
  border-color: #fff;
}
.home .content .header a.button:hover {
  background: #fff;
  color: #000;
}
@media (min-width:550px) {
  .home .content .header img.mid {
    display: block;
  }
  .home .content .header img.sml {
    display: none;
  }
}
@media (min-width: 769px) {
  .home .content .header img.lrg {
    display: block;
  }
  .home .content .header img.mid {
    display: none;
  }
}
/*
@media (max-width: 768px) {
  .home .content .header {
    padding: 175px 50% 250px 40px;
  }
}
@media (max-width: 550px) {
  .home .content .header {
    padding: 30px;
  }
  .home .content .header h1 {
    font-size: 32px;
    text-align: center;
    margin: 0 0 250px 0;
  }
  .home .content .header .button {
    margin:0;
  }
}
*/
/* Brand page */
.brand .content {
  background: #fff;
}
.brand section {
  position: relative;
  margin-bottom: 0;
}
.brand section.vid {
  background: #000;
  margin-bottom: 0;
}
.brand section .info {
  padding: 60px 168px;
}
.brand section .info p {
  width: 75%;
}
.brand section .info.half {
  margin-left: 50%;
  padding-left: 8%;
  padding-right: 20%;
}
.brand section .info.half p {
  width: 100%;
}
.brand section.bg-img .info {
  position: absolute;
  z-index: 2;
}
.brand section img {
  max-width: 100%;
}
.brand section.bg-img img {
  position: relative;
  z-index: 1;
}
.brand section:not(.header) h1 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}
.brand section .separator {
  width: 64px;
  background: #c6c6c6;
  height: 2px;
  margin: 20px 0;
}
.brand section h2 {
  font-size: 30px;
  margin-top: 20px;
}
.brand section.header {
  position: relative;
  color: #fff;
}
.brand section.header a {
  color: #fff;
}
.brand section.header a.button {
  border-color: #fff;
}
.brand section.header a:hover {
  background: #fff;
  color: #000;
}
.brand section.header .info {
  padding: 40px 20px;
}
.brand section.header h1 {
  font-size: 32px;
}

@media (min-width: 550px) {
  .brand section.header .info {
    padding: 0 25% 0 50px;
  }
  .brand section.header h1 {
    font-size: 32px;
  }
}
@media (min-width: 769px) {
  .brand section.header .info {
    padding: 0 25% 0 128px;
  }
  .brand section.header h1 {
    font-size: 42px;
  }
}
@media (min-width: 960px) {
  .brand section.header .info {
    padding: 0 25% 0 168px;
  }
  .brand section.header h1 {
    font-size: 48px;
  }
}
@media (min-width: 1080px) {
  .brand section.header .info {
    padding: 0 45% 0 168px;
  }
}
.brand section.header h1.light {color: #fff;}
.brand section.header h1.dark {color: #000;}
.brand section.vid {
  display: flex;
  align-items: center;
  overflow: hidden;
}
@media (min-width: 550px) {
  .brand section.vid {
    height: 350px;
  }
}
@media (min-width: 769px) {
  .brand section.vid {
    height: 400px;
  }
}
@media (min-width: 960px) {
  .brand section.vid {
    height: 488px;
  }
}
.brand section.vid h1 {
  display: block;
}
.brand section.vid *:not(video) {
  position: relative;
  z-index: 2;
}
.brand section.vid video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  z-index: 1;
  transform-origin: center;
  transform: translate(-50%,-50%);
  transition: .25s;
  opacity: .5;
}

.brand section.tuck-up {
  z-index: 3;
  margin-top: -135px;
  margin-bottom: 0;
}
@media (max-width: 960px) {
  .brand section.bg-img .info.half {
    margin: 0;
    padding: 45px 168px;
  }
  .brand section.bg-img img {
    opacity: .3;
  }
}
@media (max-width: 768px) {
  .brand .content section {
    margin: 0;
  }
  .brand section .info p {
    width: 100%;
  }
  .brand section.bg-img .info {
    position: relative;
    background: #eee;
  }
  .brand section.bg-img img {
    display: none;
  }
  .brand section.bg-img .info.half,
  .brand section .info {
    padding: 40px 75px;
  }
  .brand section.tuck-up {
    z-index: 3; margin:0;
  }
}

/* Intro slide */
.intro .caption {
  font-size: 48px;
  color: #fff;
}
/* General */

.ah {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media (min-width: 551px) {
  .mobile550 {
    display: none;
  }
}
