// Pop-in animation
@keyframes pop {
  0% {transform: scale(.5); opacity: 0;}
  75% {transform: scale(1.1); opacity: 1;}
  100% {transform: scale(1); opacity: 1;}
}
@keyframes popShadow {
  0% {transform: scale(.5); opacity: 0; box-shadow: 0 0 10px rgba(0,0,0,.25);}
  75% {transform: scale(1.1); opacity: 1; box-shadow: 0 0 30px rgba(0,0,0,.25);}
  100% {transform: scale(1); opacity: 1; box-shadow: 0 0 0 rgba(0,0,0,0);}
}
@keyframes popDown {
  0% {transform: scale(1); opacity: 1;}
  100% {transform: scale(.5); opacity: 0;}
}

// Slide intro
@keyframes slideIntro {
  from {transform: translateX(-50%)}
  to {transform: translateX(0)}
}

// Basic reveal
@keyframes reveal {
  from {opacity: 0;}
  to {opacity: 1;}
}

// Slide and fade in
@keyframes revealSlide {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}

// Slide up intro
@keyframes slideUp {
  from {transform: translateY(120px);}
  to {transform: translateY(0);}
}
