/* Viewport Sizes */
$min: 320px;
$tny: 480px;
$xsm: 550px;
$sml: 768px;
$mid: 960px;
$lrg: 1020px;
$xlg: 1200px;
$xxl: 1400px;
$max: 1800px;

/* Colors */
$ltg: #F2F4F5;
$dkg: #989393;

/* Techincal Sizes */
$bdr: 4px;
$lht: 70px;
