@import "_functions";
@import "_fonts";
@import "_variables";

// ::-webkit-scrollbar {
//   width: 10px;
//   position: absolute;
// }
//
//
// ::-webkit-scrollbar-track {
//   background: #000;
// }
//
// ::-webkit-scrollbar-thumb {
//   background: #5a5a5c;
//   border-radius: 3px;
//
//   &:hover {
//     background: #000;
//   }
// }
//

html,
html * {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #000000;
  background: #ffffff;
  font-family: "XfinityBrown", "Helvetica", "Arial", sans-serif;

}

a {
  color: #999;
}

.inner {
  max-width: $max;
  width: 100%;
  margin: 0 auto;
}

// header {
//   background: #fff;
//   position: relative;
//   z-index: 2;
//   ul {
//     list-style: none;
//     margin: 0;
//     padding: 0;
//
//     a {
//       color: $dkg;
//       text-decoration: none;
//     }
//   }
//
//   .lower-head,
//   .upper-head {
//     ul {
//       li {
//         display: inline-block;
//         padding: 0 11px;
//       }
//       a {
//         display: block;
//         padding: 4px 0 3px 0;
//         transition: border .25s, background .25s, color .25s;
//         border-bottom: 2px solid transparent;
//       }
//     }
//     .inner {
//       display: flex;
//       max-width: $max;
//       align-items: flex-end;
//     }
//   }
//
//   .upper-head {
//     background: #000;
//     color: #fff;
//
//     .icon-search {
//       @include font-size(18px);
//       color: #fff;
//       display: block;
//       transform: translateY(20%);
//       transition: color .25s, background .25s;
//     }
//
//     ul {
//       text-align: right;
//       @include font-size(13px);
//       font-weight: 400;
//
//       a {
//         color: #fff;
//         border-bottom-width: 2px;
//         &:hover {
//           span {
//             color: #ccc;
//           }
//         }
//       }
//       a:hover,
//       li.active {
//         a {
//           color: #ccc;
//           border-bottom-color: #ccc;
//         }
//       }
//     }
//     .inner {
//       justify-content: flex-end;
//     }
//   }
//
//   .lower-head {
//     ul {
//       a:hover {
//         border-color: $dkg;
//       }
//
//       li.active a {
//         color: #000;
//         border-color: #000;
//       }
//
//       @include font-size(18px);
//       font-weight: 500;
//       padding: 0 4px;
//
//       li {
//         padding: 0 16px;
//       }
//
//       a {
//         padding: 16px 0 9px 0;
//       }
//     }
//     .inner {
//       height: 70px;
//     }
//   }
//
//   nav {
//     @include bp-min($xlg) {
//       width: calc(100% - 300px);
//     }
//     /* margin-left: 70px; */
//   }
// }
// @media (max-width: 768px) {
//   header .lower-head ul {
//     @include font-size(16px);
//   }
//   header .lower-head ul li {
//     margin: 0; padding: 0;
//   }
//   header .lower-head ul a {
//     padding: 16px 12px 9px 12px;
//   }
//   header .upper-head {
//     padding-right: 20px;
//   }
//   header .upper-head ul li,
//   header .upper-head ul a {
//     padding-left: 3px;
//     padding-right: 3px;
//   }
// }
// @media (max-width: 550px) {
//   header .upper-head .inner {
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//   }
// }
// @media (max-width: 420px) {
//   header .upper-head .inner {
//     display: block;
//   }
// }

/* footer */
footer {
  align-items: center;
  @include font-size(15px);
  font-weight: 200;
  padding: 60px 30px 30px 0;

  .inner {
    display: flex;
    align-items: center;
  }

  .logo {
    padding: 0 5%;

    a {
      display: block;
      width: 125px;

      img {
        max-width: 100%;
      }
    }
  }
  p {
    a {
      font-weight: bold;
      color: #000;
      text-decoration: none;

      &:hover {
      text-decoration: underline;
      }
    }
  }
}

@media (max-width: 550px) {
  footer {
    padding-top: 30px;

    .logo img {
      width: 75px;
    }
  }
}

/* main */

main {
  display: flex;
  clear: both;
  position: relative;
  z-index: 1;

  .inner {
    display: flex;
  }
}

/* Footer Nav */
// .page-nav {
//   background: #666;
//   background-size: cover;
//   color: #fff;
//   padding: 20px 0;
//
//   .inner {
//     background: url(../gfx/bg_btm-nav.png) center center no-repeat transparent;
//     padding: 20px 80px;
//     display: flex;
//   }
//
//   .pager {
//     position: relative;
//     width: 50%;
//     display: block;
//
//     .lil-ttl {
//       @include font-size(14px);
//       font-weight: 300;
//       display: block;
//     }
//     .ttl {
//       @include font-size(24px);
//       font-weight: 500;
//     }
//   }
//
//   a {
//     color: #fff;
//     text-decoration: none;
//     @include transition(.25s);
//
//     &.page-prv {
//       padding-left: 70px;
//       background: url(../gfx/arw_lt.png) left center no-repeat transparent;
//       background-size: contain;
//
//       &:hover {
//         padding-left: 65px;
//       }
//
//       .glyph {
//         left: 0;
//       }
//     }
//
//     &.page-nxt {
//       padding-right: 70px;
//       text-align: right;
//       background: url(../gfx/arw_gt.png) right center no-repeat transparent;
//       background-size: contain;
//
//       &:hover {
//         padding-right: 65px;
//       }
//       .glyph {
//         right: 0;
//       }
//     }
//   }
// }
//
// @media (max-width: 768px) {
//   .page-nav .inner {
//     padding: 10px 20px;
//   }
//   .page-nav .pager .lil-ttl {
//     @include font-size(12px);
//   }
//   .page-nav .pager .ttl {
//     @include font-size(18px);
//   }
//   .page-nav .page-prv {
//     padding-left: 55px;
//   }
//   .page-nav .page-nxt {
//     padding-right: 55px;
//   }
// }
//
// @media (max-width: 550px) {
//   .page-nav .pager .lil-ttl {
//     @include font-size(10px);
//   }
//   .page-nav .pager .ttl {
//     @include font-size(16px);
//   }
//   .page-nav .page-prv {
//     padding-left: 40px;
//   }
//   .page-nav .page-nxt {
//     padding-right: 40px;
//   }
// }

.two-col {
  #subnav {
    width: 20%;
    padding: 0 3% 30px 3%;
    @include bp-min($xlg) {
      padding: 0 1.5% 30px 1.5%;
      width: 200px;
    }
    .logo {
      padding: 30px 100px 10px 0;
    }
  }
  .content {
    width: 80%;
    @include bp-min($xlg) {
      width: calc(100% - 200px);
    }
    @include bp-min($max) {
      padding-right:140px;
    }

    p {
      max-width: 1020px;
    }

  }
}
.one-col {
  .content {
    width: 100%;
  }
}

@media (max-width: 960px) {
  .two-col .content {
    margin: 20px;
  }
}

@media (max-width: 768px) {
  .two-col #subnav {
    padding: 30px 2.5% 30px 2.5%;
  }
}

@media (max-width: 550px) {
  .two-col main > .inner {
    display: block;
  }
  .two-col .content,
  .two-col #subnav {
    width: 100%;
    margin: 0;
  }
  .two-col .content {
    padding: 20px;
  }
}

/* Subnav */
#subnav {
  background: #5a5a5c;
  color: #fff;

  &.ugly {
    background: #fff;
    color: #000;
    ul li a {
      color: #000;

      &:hover {
        background: #5a5a5c;
        color: #fff;
      }
    }
    .logo svg {
      fill: #000;
    }
  }
  .nav {
    padding-top: 25px;
  }
  .logo svg {
    fill: #fff;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 5px 0;

    li  {
      margin: 0;
      padding: 5px 0;
      @include font-size(14px);
      font-weight: 100;

      .menu {
        padding: 0;
      }

      a {
        display: block;
        margin: 0 -10px;
        padding: 5px 10px;
        text-decoration: none;
        color: #fff;
        // transition:color .25s, background .25s;
        border-radius: 4px;

        &:hover {
          background: #fff;
          color: #000;
        }
      }

      &.active > a {
        font-weight: bold;
      }

      li {
        @include font-size(13px);
        padding: 0;

        a {
          padding: 6px 10px 6px 25px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #subnav ul li .menu {
    display: none;
  }
}

@media (max-width: 550px) {
  .two-col #subnav {
    background: #666;
    color: #fff;
    padding: 0;
  }
  #subnav ul.nav {
    overflow: auto;
    white-space: nowrap;
    padding: 0;
  }
  #subnav ul li {
    display: inline-block;
    margin: 10px 0;
    font-weight: 300;
  }
  #subnav ul li a {
    color: #fff;
    margin: 0;
    padding: 5px 20px;
    border-right: 1px solid #999;
  }
  #subnav ul li.active > a {
    text-decoration: underline;
  }
}

@include bp-min($xsm + 1) {
  #subnav .sticky {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 14%;
    @include bp-min($xlg) {
      width: calc(200px - 3%);
    }
  }
}

/* Content Area */
section {

  // Tabbed content
  &.with-tabs {
    .tabs {
      display: none;
      transition: .25s left;

      &.active {
        display: flex;

      }

      background: #fff;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 99;

      h3.ttl {
        position: fixed;
        left: 5%;
        top: 20px;
        @include font-size(24px);

        span {
          font-weight: 100;
          padding-right: 10px;
        }
      }

      .tab {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;

        .tab-col-1,
        .tab-col-2 {
          width: 50%;
          position: relative;
        }
        .tab-col-1 {
          padding: 5% 4% 5% 10%;
        }
        .tab-col-2 {
          padding: 5% 10% 5% 4%;

          .slideshow {
            overflow: hidden;

            ul {
              display: flex;
            }
          }
          ul {
            list-style: none;
            margin: 0;
            padding: 0;
          }

          .options {
            li {
              margin: 0;
              padding: 0;
              left: 0;
              top: 0;
              width: 100%;
              display: block;
            }
          }

          .optionNav {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0;

            li a {
              display: block;
              height: 20px;
              width: 20px;
              margin: 5px;
              border: 2px solid #000;
              border-radius: 50%;

              &.active {
                background: #000;
              }
            }
          }
        }
        &.with-options {
          .img {
            position: absolute;
            left: 0;
            top: 0;
            margin: 0;
          }
          .option:not(:first-child) {
            display: none;
          }
        }

      }

      .tab-nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 100;
        list-style: none;
        margin: 0;
        padding: 0;
        pointer-events: none;

        li {
          position: absolute;
          top: 50%;
          transform:translateY(-50%);

          a {
            pointer-events: all;
            display: block;
            padding: 40px;
          }

          img {
            transition: transform .25s;
            max-width: 50%;
          }

          &.tab-nxt {
            right: 0;

            &:hover {
              img {
                transform:translateX(5px);
              }
            }
          }
          &.tab-prv {
            left: 0;

            &:hover {
              img {
                transform:translateX(-5px);
              }
            }
          }
        }

      }

      .close-btn {
        position: fixed;
        top: 20px;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ccc;
        width: 50px;
        height: 50px;
        color: #000;
        text-decoration: none;
        border-radius: 50%;
        box-shadow: 0px 5px 5px rgba(0,0,0,.15);
        @include Brown(24px);
        @include line-height(50px);

        img {
          max-width: 35%;
        }
      }
    }
  }
}

.content {
  overflow: hidden;

  h1 {
    margin: 0 0 .5em 0;
    @include Brown(52px, 800);
    @include bp-min($xlg) {
      @include Brown(72px, 800);
    }

    @include bp-max($sml) {
      margin-top: 15px;
      @include font-size(48px);
    }
    span {
      display: block;
      font-size: 75%;
      font-weight: 200;
      padding-bottom: 0px;
    }
  }

  h2 {
    @include Brown(36px, 800);
  }

  h3 {
    @include Brown(24px, 800);
    margin: 20px 0 10px 0;
  }

  li,
  p {
    margin-top: 10px;
    @include font-size(18px);
    font-weight: 300;
    line-height: 150%;

    strong {
      font-weight: 500;
    }
  }

  p {
    &.caption {
      @include font-size(14px);
      font-weight: 400;
      color: #999;
    }
  }

  a {
    &.button {
      display: inline-block;
      padding: 10px 25px;
      border: 1px solid #000;
      background: #000;
      color: #fff;
      transition: color .25s, background .25s;
      border-radius: 4px;
      text-decoration: none;
      @include Brown(14px);
      font-weight: 500;
      margin:15px 15px 15px 0;

      @include bp-max($xsm) {
        display: block;
        text-align: center;
      }

      &:hover {
        color: #000;
        background: #fff;
      }
    }
  }

  .flex-column ul.none,
  .flex-column ul.none li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  section {
    min-height: 100vh;
    // margin-bottom: 120px;
    @include bp-max($sml) {
      margin-bottom: 75px;
    }
    @include bp-max($xsm) {
      margin-bottom: 50px;
    }

    &:focus {
      outline: none;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;

    .col-1 {
      width: 45%;
      padding: 2%;
      position: relative;
    }
    .col-2 {
      width: 55%;
      padding: 2%;
    }

    // &.active {
    //   .col-1 {
    //     width: 24%;
    //     height: 100vh;
    //     top: 0;
    //     position: fixed;
    //   }
    //   .col-2 {
    //     margin-left: 33%;
    //   }
    // }
  }

  .img {
    margin: 20px 0 40px 0;

    img {
      display: block;
    }
    @include bp-min($sml) {
      &.width-60 img {max-width: 60%;}
      &.width-65 img {max-width: 65%;}
      &.width-70 img {max-width: 75%;}
      &.width-75 img {max-width: 75%;}
      &.width-80 img {max-width: 80%;}
      &.width-85 img {max-width: 85%;}
    }
  }

  img {
    max-width: 100%;
  }

  .flex-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    ul {
      margin: 10px 20px;
      padding: 0;
    }

    &.bottom {
      align-items: baseline;
    }
  }

  /* 8% between each column */
  .flex-2col > div {
    width: calc(50% - 10px);

    @include bp-max($sml) {
      width: 100%;
    }
  }
  .flex-3col > div {
    width: calc(33.333% - 10px);

    @include bp-max($sml) {
      width: 100%;
    }

    &.double {
      width: calc(66.666% - 10px);

      @include bp-max($sml) {
        width: 100%;
      }
    }
  }
  .flex-4col > div {
    width: calc(25% - 10px);

    @include bp-max($sml) {
      width: calc(50% - 10px);
    }
  }
  .flex-column {

    .img {
      margin: 10px 0;
    }

    & > div.extend {
      width: 100%;
    }

    .no-mobile {
      display: none;
    }
  }
}

/* Brand */
#brand-story {
  min-height: 100vh;
  background: #000;
  color: #fff;
  padding: 5%;

  h1 {
    @include font-size(72px);
  }
}


/* Color */
#color {
  .color-swatches {
    display: flex;
    flex-flow: row wrap;
    height: 75vh;
    position: relative;

    .color {
      display: block;
      border-radius: 4px;
      height: 100%;
      cursor: pointer;

      &.color-1 {
        border: 1px solid #ccc;
      }

      &.light {
        color: #fff;
        span {color: rgba(255,255,255,.65);}
        .close-btn path {stroke: #fff;}
      }
      &.dark {
        color: #000;
        span {color: rgba(0,0,0,.35);}
        .close-btn path {stroke: #000;}
      }

      &.color-1 {background: #ffffff;}
      &.color-2 {background: #000000;}
      &.color-3 {background: #EBEEF0;}
      &.color-4 {background: #5A5A5C;}
      &.color-5 {background: #C8001D;}
      &.color-6 {background: #2B9CD8;}
    }

    .swatch-info {
      cursor: text;
      opacity: 0;
      padding: 50px;
      border-radius: 4px;
      background: inherit;
      border:1px solid rgba(0,0,0,.5);
      color: inherit;
      @include font-size(18px);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 50%;
      height: 50%;
      left: 0;
      top: 0;
      transform: translate(50%,50%) scale(.8);
      transition: opacity .25s, box-shadow .25s, transform .25s;
      pointer-events: none;
      box-shadow: 0 0 0 rgba(0,0,0,0);

      h3 {
        @include font-size(18px);
        font-weight: bold;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin: 2px 0;
          span {
            font-weight: 100;
            color: #999;
          }
        }
      }

      .close-btn {
        position: absolute;
        right: 15px;
        top: 15px;
      }

      &.active {
        opacity: 1;
        pointer-events: all;
        box-shadow: 0 0 20px rgba(0,0,0,.25);
        transform: translate(50%,50%) scale(1);
      }
    }

    .ht-100 {
      height: 50%;
      padding: 5px;
    }
    .ht-66 {
      height: 66%;
      padding-bottom: 5px;
    }
    .ht-33 {
      padding-top: 5px;
      height: 33%;

      .col-50 {
        &:first-child {
          padding:0 5px 0 0;
        }
        &:last-child {
          padding:0 0 0 5px;
        }
      }
    }

    .col-50 {
      flex-basis: 50%;
    }
  }
  .color-palette {
    h4 {
      span {
        font-weight: 400;
        font-size: 75%;
      }
    }
  }
}

/* Typography page */
#typography {

  .col-2 {
    position: relative;
    height: 100vh;
    overflow: hidden;
    // .section {
    //   display: none;
    //
    //   &:first-child {
    //     display: flex;
    //   }
    // }
    // transform-style: preserve-3d;
    // transition: transform 1s;
    // transform-origin: center center;

    .section-wrap {
      width: 300%;
      display: flex;
      transition: .5s margin;

      .section {
        width: 33.333%;
      }
    }

    &[data-active="0"] {
      .section-wrap {
        margin-left: 0;
      }
    //   transform: rotateX(0deg);
    //   #typefaces {
    //     background-color: #fff;
    //     .section-inner {
    //       opacity: 1;
    //     }
    //   }
    }
    &[data-active="1"] {
      .section-wrap {
        margin-left: -100%;
      }
    //   transform: rotateX(90deg);
    //   #type-styles {
    //     background-color: #fff;
    //     .section-inner {
    //       opacity: 1;
    //     }
    //   }
    }
    &[data-active="2"] {
      .section-wrap {
        margin-left: -200%;
      }
    //   transform: rotateX(180deg);
    //   #type-examples {
    //     background-color: #fff;
    //     .section-inner {
    //       opacity: 1;
    //     }
    //   }
    }
  }
  .section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    // &#typefaces { transform: rotateX(   0deg ) translateZ( 50vh );}
    // &#type-styles { transform: rotateX( -90deg ) translateZ( 50vh );}
    // &#type-examples { transform: rotateX( 180deg ) translateZ( 50vh );}

  }

  blockquote {
    background: #fff;
    margin: 0;
    padding: 30px 40px;
    color: #000;
  }
  .live-type {
    text-align: center;

    &.font-xfb {
      @include Brown(48px, 800);
      @include bp-min($xlg) {
        @include Brown(72px, 800);
      }
      &[data-weight="1"] {font-weight: 300;}
      &[data-weight="2"] {font-weight: 400;}
      &[data-weight="3"] {font-weight: 800;}
    }
    &.font-xfs {
      @include Std(48px);
      @include bp-min($xlg) {
        @include Std(72px);
      }
      &[data-weight="1"] {font-weight: 100;}
      &[data-weight="2"] {font-weight: 200;}
      &[data-weight="3"] {font-weight: 300;}
      &[data-weight="4"] {font-weight: 400;}
      &[data-weight="5"] {font-weight: 500;}
      &[data-weight="6"] {font-weight: 700;}
    }
  }

  .slider {
    width: 100%;
    transition: opacity .5s;
    opacity: 0;

    &.show {
      opacity: 1;
    }
  }

  .weight {
    -webkit-appearance: none;
    appearance: none;
    height: 25px;
    width: 100%;
    padding: 10px 10px;
    background: #fff;
    outline: none;
    border: 0;
    margin: 0;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: 1px solid #999;
      height: 20px;
      width: 20px;
      border-radius: 3px;
      background: #ffffff;
      cursor: pointer;
      margin-top: -8px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */

      &:after {
        content: "x";
      }

      &:focus {
        color: #333;
      }
    }

    &::-webkit-slider-runnable-track {
      width: 95%;
      height: 4px;
      cursor: pointer;
      background: #dedede;
    }
  }

  .usage {
    span {
      @include transition(.25s color);
    }

    &:hover {
      span {
        color: rgba(0,0,0,.15);
      }
    }

    &.usage-1 {
      @include Brown(36px, 800);
    }
    &.usage-2 {
      @include Brown(24px, 800);
    }
    &.usage-3 {
      @include Brown(18px);
    }
    &.usage-4 {
      font-family: "XfinityStandard";
    }
    &.usage-5 {
      font-family: "HelveticaNeueCondensed";
      @include font-size(12px);
    }

  }
}

/* Photography */

.mosaic {
  display: flex;
  flex-wrap: wrap;
  max-width: 636px;

  img {
    display: block;
  }

  .row {
    display: flex;
    align-items: stretch;
    margin: 5px 0;
    width: 100%;
  }

  .col {
    margin: 0 5px;

    &.col-1-3 {
      width: 39%;
    }
    &.col-2-3 {
      width: 61%
    }
  }
  .col-special {
    flex-shrink: 0;
    border-radius: 4px;
    overflow: hidden;
  }

  .spacer {
    height: 10px;
  }

  .photo {
    border-radius: 4px;
    overflow: hidden;

    &:not(.default) {
      display: none;
    }
  }

  .photo-info-wrap {
    height: 100%;
    width: 500%;
    display: flex;
    align-items: stretch;
    transition: .25s margin;

    .photo-info {
      display: flex;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      background: #fff;
      width: 20%;
      padding: 0 25px;

      &.black {
        border: 0;
        background: #000;
        color: #fff;
      }

      &.grey {
        border: 0;
        background: #5a5a5c;
        color: #fff;
      }

      &.lt-gry {
        border: 0;
        background: #ebeef0;
      }
      p {
        @include font-size(14px);
        @include bp-min($xlg) {
          @include font-size(18px);
        }
      }

      &#photography-null {
        background: transparent;
      }
    }
  }
}

/*Voice & Messaging*/
.voice {
  h2 {
    margin-top: -5px;
  }
}

/* Intro slide */
.intro {
  .caption {
    @include font-size(48px);
    color: #fff;
  }
}

/* General */
.ah {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@include bp-min(551px) {
  .mobile550 {
    display: none;
  }
}


/* Color changing */
body[data-bg=drk-gry],
body[data-bg=black] {

  .tabs {
    background: #000;
    color: #fff;

    .button {
      border-color: #fff;
      background: #fff;
      color: #000;

      &:hover {
        background: #000;
        color: #fff;
      }
    }

    .tab-nxt svg path, .tab-prv svg path{
      stroke: #fff;
    }

    .tab .tab-col-2 .optionNav li a {
      border-color: #fff;

        &.active {
          background: #fff;
        }
    }
  }
}

body[data-bg=drk-gry] .tabs {
  background: #201e20;
}
