@import "_functions";
@import "_fonts";
@import "_variables";

// ::-webkit-scrollbar {
//   width: 10px;
//   position: absolute;
// }
//
//
// ::-webkit-scrollbar-track {
//   background: #000;
// }
//
// ::-webkit-scrollbar-thumb {
//   background: #5a5a5c;
//   border-radius: 3px;
//
//   &:hover {
//     background: #000;
//   }
// }
//

html,
html * {
  box-sizing: border-box;
}
html.hide {
  &, body {
    overflow: hidden;
  }
}

body {
  margin: 0;
  padding: 0;
  color: #000000;
  background: #ffffff;
  font-family: "XfinityBrown", "Helvetica", "Arial", sans-serif;

}

a {
  color: #999;
}

img {
  &.border {
    border: 1px solid #ccc;
  }
  &.rounded {
    border-radius: $bdr;
  }
}

.inner {
  max-width: $max;
  width: 100%;
  margin: 0 auto;
}

/* footer */
footer {
  align-items: center;
  @include font-size(15px);
  font-weight: 200;
  padding: 60px 30px 30px 0;

  .inner {
    display: flex;
    align-items: center;
  }

  .logo {
    padding: 0 5%;

    a {
      display: block;
      width: 125px;

      img {
        max-width: 100%;
      }
    }
  }
  p {
    a {
      font-weight: bold;
      color: #000;
      text-decoration: none;

      &:hover {
      text-decoration: underline;
      }
    }
  }
}

@media (max-width: 550px) {
  footer {
    padding-top: 30px;

    .logo img {
      width: 75px;
    }
  }
}

/* main */

main {
  display: flex;
  clear: both;
  position: relative;
  z-index: 1;

  .inner {
    display: flex;
  }
}

.content p.download {
  margin: 0 0 30px 0;
  a {
    text-decoration: none;
    color: #333;
    @include font-size(14px);
    display: flex;

    span {
      padding: 0 5px;
    }

    svg {
      height: 18px;
    }

    &:hover {
      text-decoration: underline;
      color: #999;

      svg,
      svg * {
        stroke: #999;
      }
    }
  }
}


.two-col {
  .sidebar {
      width: 200px;
    .logo {
      padding: 30px 100px 10px 0;
    }
    #subnav {
      position: fixed;
      width: 200px;
      padding: 0 1.5% 30px 1.5%;
    }
  }
  .content {
    width: 80%;
    @include bp-min($xlg) {
      width: calc(100% - 200px);
    }
    @include bp-min($max) {
      padding-right:140px;
    }

    p {
      max-width: 1020px;
    }

  }
}
.one-col {
  .content {
    width: 100%;
  }
}

@media (max-width: 960px) {
  .two-col .content {
    margin: 20px;
  }
}

@media (max-width: 768px) {
  .two-col .sidebar {
    padding: 30px 2.5% 30px 2.5%;
  }
}

@media (max-width: 550px) {
  .two-col main > .inner {
    display: block;
  }
  .two-col .content,
  .two-col .sidebar {
    width: 100%;
    margin: 0;
  }
  .two-col .content {
    padding: 20px;
  }
}

/* Sidebar */
.sidebar {
  background: #5a5a5c;
  color: #fff;

  &.wht {
    background: #fff;
    color: #000;
    ul li a {
      color: #000;

      &:hover {
        background: #5a5a5c;
        color: #fff;
      }
    }
    .logo svg {
      fill: #000;
    }
  }
  &.black {
    background: #000;
  }
  .nav {
    padding-top: 25px;
  }
  .logo svg {
    fill: #fff;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 5px 0;

    li  {
      margin: 0;
      padding: 5px 0;
      @include font-size(14px);
      font-weight: 100;

      .menu {
        padding: 0;
      }

      a {
        display: block;
        margin: 0 -10px;
        padding: 5px 10px;
        text-decoration: none;
        color: #fff;
        // transition:color .25s, background .25s;
        border-radius: $bdr;

        &:hover {
          background: #fff;
          color: #000;
        }
      }

      &.active > a {
        font-weight: bold;
      }

      li {
        @include font-size(13px);
        padding: 0;

        a {
          padding: 6px 10px 6px 25px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #subnav ul li .menu {
    display: none;
  }
}

@media (max-width: 550px) {
  .two-col .sidebar {
    background: #666;
    color: #fff;
    padding: 0;
  }
  #subnav ul.nav {
    overflow: auto;
    white-space: nowrap;
    padding: 0;
  }
  #subnav ul li {
    display: inline-block;
    margin: 10px 0;
    font-weight: 300;
  }
  #subnav ul li a {
    color: #fff;
    margin: 0;
    padding: 5px 20px;
    border-right: 1px solid #999;
  }
  #subnav ul li.active > a {
    text-decoration: underline;
  }
}

/* Content Area */
section {

  // Tabbed content
  &.with-tabs {
    .tabs-wrapper {
      overflow: hidden;
    }
    .tabs {
      transition: .25s margin;
      display: flex;
    }

    .tab {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;

      img {
        display: block;
        margin: 0 auto;
        max-width: 90%;
        width: 90%;
      }

      .tab-inner {
        position: relative;
        width: 100%;

        .slideshow {
          overflow: hidden;

          ul {
            display: flex;
          }
        }
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
        }
      }
      .options {
        li {
          margin: 0;
          padding: 0;
          left: 0;
          top: 0;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .optionNav {
        display: flex;
        justify-content: center;
        align-items: center;

        li a {
          display: block;
          height: 20px;
          width: 20px;
          margin: 5px;
          border: 2px solid #000;
          border-radius: 50%;

          &.active {
            background: #000;
          }
        }
      }
      .tab-inner .optionNav {
        padding: 30px 0 10px 0;
      }
      &.with-options {
        .img {
          position: absolute;
          left: 0;
          top: 0;
          margin: 0;
        }
        .option:not(:first-child) {
          display: none;
        }
      }
    }

  }
  .optionWrap {
    list-style: none;
    margin: 0;
    padding: 0;

    &.animate {
      transition: .25s margin;
    }

    li {
      margin: 0;
      padding: 0;

      img {
        display: block;
      }
    }
  }
}
body.button-wrapping .button span,
body:not(.button-wrapping) a.button {
  padding: 10px 25px;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  transition: color .25s, background .25s, transform .25s, box-shadow .25s;
  border-radius: $bdr;
  text-decoration: none;
  @include Brown(12px);
  font-weight: 500;
  text-align: center;

  @include bp-max($xsm) {
    display: block;
    text-align: center;
  }

  @include bp-min($lrg) {
    @include Brown(13px);
  }
  @include bp-min($xxl) {
    @include Brown(14px);
  }

}
body.button-wrapping .button {
  padding: 3px 0;
  display: inline-block;
  text-decoration: none;
  span {
    display: block;
  }
  margin: 5px 12px 5px 0;
  &:hover {
    span {
      box-shadow: 0 5px 5px rgba(0,0,0,.35);
      transform:translateY(-3px);
    }
  }
  &.active,
  &:hover {
    span {
      color: #000;
      background: #fff;
    }
  }
}
body:not(.button-wrapping) a.button {
  display: inline-block;
  margin: 8px 12px 8px 0;
  &:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,.35);
    transform:translateY(-3px);
  }
  &.active,
  &:hover {
    color: #000;
    background: #fff;
  }
}


.content {
  overflow: hidden;

  h1 {
    margin: 0 0 .5em 0;
    @include Brown(52px, 800);
    @include bp-min($xlg) {
      @include Brown(72px, 800);
    }

    @include bp-max($sml) {
      margin-top: 15px;
      @include font-size(48px);
    }
    span {
      display: block;
      font-size: 75%;
      font-weight: 200;
      padding-bottom: 0px;
    }
  }

  h2 {
    @include Brown(36px, 800);
  }

  h3 {
    @include Brown(24px, 800);
    margin: 20px 0 10px 0;
  }

  li,
  p {
    margin-top: 10px;
    @include font-size(18px);
    font-weight: 300;
    line-height: 150%;

    strong {
      font-weight: 500;
    }
  }

  p {
    &.caption {
      @include font-size(14px);
      font-weight: 400;
      color: #999;
    }
  }

  .flex-column ul.none,
  .flex-column ul.none li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  section {
    min-height: 100vh;
    // margin-bottom: 120px;
    @include bp-max($sml) {
      margin-bottom: 75px;
    }
    @include bp-max($xsm) {
      margin-bottom: 50px;
    }

    &:focus {
      outline: none;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;

    .col-1 {
      width: 45%;
      padding: 2%;
      position: relative;
    }

    .col-2 {
      width: 55%;
      padding: 0 2%;
    }

    .tab-nav {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        @include bp-min($lrg) {
          display: inline-block;
          min-width: 175px;
          margin: 0 2% 0 0;
        }

        a {
          width: 100%;
        }
      }
    }

  }

  .img {
    margin: 20px 0 40px 0;

    img {
      display: block;
    }
    @include bp-min($sml) {
      &.width-60 img {max-width: 60%;}
      &.width-65 img {max-width: 65%;}
      &.width-70 img {max-width: 75%;}
      &.width-75 img {max-width: 75%;}
      &.width-80 img {max-width: 80%;}
      &.width-85 img {max-width: 85%;}
    }
  }

  img {
    max-width: 100%;
  }

  .flex-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    ul {
      margin: 10px 20px;
      padding: 0;
    }

    &.bottom {
      align-items: baseline;
    }
  }

  /* 8% between each column */
  .flex-2col > div {
    width: calc(50% - 10px);

    @include bp-max($sml) {
      width: 100%;
    }
  }
  .flex-3col > div {
    width: calc(33.333% - 10px);

    @include bp-max($sml) {
      width: 100%;
    }

    &.double {
      width: calc(66.666% - 10px);

      @include bp-max($sml) {
        width: 100%;
      }
    }
  }
  .flex-4col > div {
    width: calc(25% - 10px);

    @include bp-max($sml) {
      width: calc(50% - 10px);
    }
  }
  .flex-column {

    .img {
      margin: 10px 0;
    }

    & > div.extend {
      width: 100%;
    }

    .no-mobile {
      display: none;
    }
  }
}

// main {
//   -webkit-mask-image: radial-gradient(#000 70%, transparent 70.1%);
//   -webkit-mask-repeat: no-repeat;
//   -webkit-mask-size: 0 0;
//   -webkit-mask-position: 24% 21%;
//   transition: -webkit-mask-size 1.5s, -webkit-mask-position 1.5s;
//   transition-delay: 0.5s;
//   background: #fff;
//   &.reveal {
//     -webkit-mask-size: 200vmax 200vmax;
//     -webkit-mask-position: -60vw -50vh;
//   }
//   &.remove {
//     -webkit-mask-image:none;
//   }
// }

/* Brand */
#brand-story {
  display: none;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #000;
  // position: absolute;
  // z-index: -1;

  // .col-1 {
  //   position: absolute;
  //   top: 0;
  //   border: 0;
  //   width: 100%;
  //   height: 100%;
  //   overflow: hidden;
  // }

  // video {
  //   min-width: 100%;
  //   min-height: 100%;
  //
  //   width: auto;
  //   height: auto;
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%,-50%);
  // }

  h1 {
    @include font-size(72px);
  }
}


/* Color */
#color {
  .color-swatches {
    display: flex;
    flex-flow: row wrap;
    height: 75vh;
    position: relative;

    .color {
      display: block;
      border-radius: $bdr;
      height: 100%;
      cursor: pointer;

      &.color-1 {
        border: 1px solid #ccc;
      }
      &.color-2 {
        border: 1px solid #666;
      }

      &.light {
        color: #fff;
        span {color: rgba(255,255,255,.65);}
        .close-btn path {stroke: #fff;}
      }
      &.dark {
        color: #000;
        span {color: rgba(0,0,0,.35);}
        .close-btn path {stroke: #000;}
      }

      &.color-1 {background: #ffffff;}
      &.color-2 {background: #000000;}
      &.color-3 {background: #EBEEF0;}
      &.color-4 {background: #5A5A5C;}
      &.color-5 {background: #C8001D;}
      &.color-6 {background: #2B9CD8;}
    }

    .swatch-info {
      cursor: text;
      opacity: 0;
      padding: 50px;
      border-radius: $bdr;
      background: inherit;
      border:1px solid rgba(0,0,0,.5);
      color: inherit;
      @include font-size(18px);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 50%;
      height: 50%;
      left: 0;
      top: 0;
      transform: translate(50%,50%) scale(.8);
      transition: opacity .25s, box-shadow .25s, transform .25s;
      pointer-events: none;
      box-shadow: 0 0 0 rgba(0,0,0,0);

      h3 {
        @include font-size(18px);
        font-weight: bold;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin: 2px 0;
          span {
            font-weight: 100;
            color: #999;
          }
        }
      }

      .close-btn {
        position: absolute;
        right: 15px;
        top: 15px;
      }

      &.active {
        opacity: 1;
        pointer-events: all;
        box-shadow: 10px 10px 10px rgba(0,0,0,.35);
        transform: translate(50%,50%) scale(1);
      }

      @include bp-max($xlg) {
        padding: 20px;
      }
    }

    .ht-100 {
      height: 50%;
      padding: 5px;
    }
    .ht-66 {
      height: 66%;
      padding-bottom: 5px;
    }
    .ht-33 {
      padding-top: 5px;
      height: 33%;

      .col-50 {
        &:first-child {
          padding:0 5px 0 0;
        }
        &:last-child {
          padding:0 0 0 5px;
        }
      }
    }

    .col-50 {
      flex-basis: 50%;
    }
  }
  .color-palette {
    h4 {
      span {
        font-weight: 400;
        font-size: 75%;
      }
    }
  }
}

/* Typography page */
#typography {

  .type-wrap {
    padding: 20px 0;
  }

  blockquote {
    margin: 0;
    padding: 30px 40px;
    color: #000;
  }
  .live-type {
    text-align: center;

    &.font-xfb {
      @include Brown(48px, 800);
      @include bp-min($xlg) {
        @include Brown(72px, 800);
      }
    }
    &.font-xfs {
      @include Std(28px);
      @include bp-min($xlg) {
        @include Std(44px);
      }
    }
  }

  .slider {
    width: 100%;
    transition: opacity .5s;
    opacity: 0;

    &.show {
      opacity: 1;
    }

    .weights {
      list-style: none;
      margin: 0;
      padding: 5px 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        @include Brown(14px, 800);
        transition:.25s;

        &:not(.active) {
          opacity: .10;
        }
      }
    }
  }

  .weight {
    -webkit-appearance: none;
    appearance: none;
    height: 25px;
    width: 100%;
    padding: 10px 10px;
    background: transparent;
    outline: none;
    border: 0;
    margin: 0;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: 1px solid #999;
      height: 20px;
      width: 20px;
      border-radius: $bdr;
      background: #ffffff;
      cursor: pointer;
      margin-top: -8px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */

      &:after {
        content: "x";
      }

      &:focus {
        color: #333;
      }
    }

    &::-webkit-slider-runnable-track {
      width: 95%;
      height: 4px;
      cursor: pointer;
      background: #dedede;
    }
  }

  .usage {
    padding: 15px 40px;
    span {
      @include transition(.25s color);
    }

    &:hover {
      span {
        color: rgba(0,0,0,.15);
      }
    }

    &.usage-1 {
      @include Brown(42px, 800);
      @include bp-max($xxl) {
        @include Brown(32px, 800);
      }
    }
    &.usage-2 {
      @include Brown(28px, 800);
      @include bp-max($xxl) {
        @include Brown(22px, 800);
      }
    }
    &.usage-3 {
      @include Brown(18px);
      @include bp-max($xxl) {
        @include Brown(16px);
      }
    }
    &.usage-4 {
      font-family: "XfinityStandard";
      @include font-size(16px);
      @include bp-max($xxl) {
        @include font-size(14px);
      }
    }
    &.usage-5 {
      @include Brown(26px, 800);
      @include bp-max($xxl) {
        @include Brown(23px, 800);
      }
    }
    &.usage-6 {
      font-family: "HelveticaNeueCondensed";
      @include font-size(12px);
    }

  }
}

/* Photography */

.mosaic {
  display: flex;
  flex-wrap: wrap;
  max-width: 636px;

  img {
    display: block;
  }

  .tab-nav li:nth-of-type(2n) {
    display: block;
  }

  .row {
    display: flex;
    align-items: stretch;
    margin: 5px 0;
    width: 100%;
  }

  .col {
    margin: 0 5px;

    &.col-1-3 {
      width: 39%;
    }
    &.col-2-3 {
      width: 61%
    }
  }
  .col-special {
    flex-shrink: 0;
    border-radius: $bdr;
    overflow: hidden;
  }

  .spacer {
    height: 10px;
  }

  .photo {
    border-radius: $bdr;
    overflow: hidden;

    &.border {
      border: 1px solid #ccc;
    }

    &:not(.default) {
      display: none;
    }
  }

  .photo-info-wrap {
    height: 100%;
    width: 500%;
    display: flex;
    align-items: stretch;
    transition: .25s margin;

    .photo-info {
      display: flex;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      background: #fff;
      width: 20%;
      padding: 0 25px;
      border: 1px solid #ccc;
      border-radius: $bdr;

      &.blk {
        border: 0;
        background: #000;
        color: #fff;
      }

      &.gry {
        border: 0;
        background: #5a5a5c;
        color: #fff;
      }

      &.ltg {
        border: 0;
        background: #ebeef0;
        color: #000;

        h3 {
          color: #999;
        }
      }
      p {
        @include font-size(14px);
        @include bp-min($xlg) {
          @include font-size(18px);
        }
      }

      &#photography-null {
        background: transparent;
      }
    }
  }
}

/* Brand Symbol */
.tab {
  .lightbox-shade {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background: rgba(255,255,255,.75);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .25s opacity;
    pointer-events: none;

    &.active {
      opacity: 1;
      pointer-events: auto;
    }

    .lightbox {
      position: relative;
      border-radius: $bdr;
      border: 1px solid #ccc;
      box-shadow: 5px 5px 5px rgba(0,0,0,.25);
      background: #fff;
      width: 75%;
      z-index: 1;

      &.text {
        padding: 10px 30px;
      }
      img {
        display: block;
        max-width: 100%;
        width: 100%;
      }

      .close {
        position: absolute;
        z-index: 2;
        right: 0;
        top: 0;
        transform: translate(40%,-40%);
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ededed;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0,0,0,.5);
        transition: .25s background-color;

        svg path {
          transition: stroke .25s;
        }

        &:hover {
          background-color: #ccc;

          svg path {
            stroke: #fff;
          }
        }
      }
    }
  }
  .quadWrap {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    li {
      flex-basis: calc(50% - 40px);
      margin: 10px;
      overflow: hidden;
      position: relative;
      border-radius: $bdr;
      border: 1px solid #ccc;

      &:before {
        content: '';
        float: left;
        padding-top: 100%;
      }

      h3 {
        @include font-size(20px);
      }
      p {
        @include font-size(14px);
      }
      a {
        display: block;
        text-decoration: none;
        color: #000;
      }
      img {
        display: block;
        max-width: 100%;
        width: 100%;
      }

      &.text {
        padding: 10px;

        a {
          position: absolute;
          left: 0;
          top: 0;
          padding: 10px;
        }

        .expand {
          display: block;
          position: absolute;
          top: -5px;
          right: 0;
          text-align: right;
          pointer-events: none;

          svg {
            transform: scale(.5) rotate(45deg);
          }
        }
      }

      .fade {
        height: 25%;
        width: 100%;
        background: linear-gradient(0deg, white, transparent);
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    }
}

/* Downloads */
#downloads {
  display: block;
  padding-top: 15vh;

  .button {
    min-width: 150px;
  }
  section {
    display: block;
    min-height: auto;
    padding: 40px 0;
    border-bottom: 1px solid #ccc;

    .download-intro {
      padding: 20px;
      background: #fff;
      border-radius: $bdr;
      display: flex;
      align-items: center;
      .flex-col {
        width: 50%;
      }
      .flex-col-1 {
        text-align: left;
      }
      .flex-col-2 {
        text-align: right;
      }
    }

    .download-contents {
      background: #efefef;
      padding: 10px 0;
      display: none;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
      }
      li {
        width: 20%;
        padding: 15px;
      }
      img {
        border: 1px solid #333;
        max-width: 100%;
      }
      .download-links {
        padding: 0 15px;
      }
    }
  }
}


/* Intro slide */
.intro {
  .caption {
    @include font-size(48px);
    color: #fff;
  }
}

/* General */
.ah {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@include bp-min(551px) {
  .mobile550 {
    display: none;
  }
}


/* Color changing */
body[data-bg=drk-gry],
body[data-bg=black] {
  background: #000;
  color: #fff;

  &.button-wrapping .button span,
  &:not(.button-wrapping) .button {
    border-color: #fff;
    background: #fff;
    color: #000;
  }

  &.button-wrapping .button {
    &.active,
    &:hover {
      span {
        background: #000;
        color: #fff;
      }
    }
  }
  &:not(.button-wrapping) .button {
    &.active,
    &:hover {
      background: #000;
      color: #fff;
    }
  }

  .optionNav a {border-color: #fff !important;}
  .optionNav a.active {background: #fff !important;}

  .sidebar {
    background: #fff; color: #000;
    .logo svg { fill: #000; }
    a {
      color: #000;
      &:hover { color: #fff; background: #000; }
    }
  }

  #typography blockquote {color: #fff;}
  #typography .weight::-webkit-slider-thumb {background: #000; border-color: #666;}
  #typography .weight::-webkit-slider-runnable-track {background-color: #333;}

  .content p.download a {
    color: #ccc;
    svg * {
      stroke: #ccc;
    }

    &:hover {
      color: #999;
      svg * {
        stroke: #999;
      }
    }
  }

  &.button-wrapping .download-intro {
    .button span {
      border-color: #000;
      background: #000;
      color: #fff;
    }
  }

  &.button-wrapping .download-intro .button {
    &.active,
    &:hover {
      span {
        background: #fff;
        color: #000;
      }
    }
  }
  &:not(.button-wrapping) .download-intro .button {
    &.active,
    &:hover {
      background: #fff;
      color: #000;
    }
  }
}

body[data-bg=drk-gry] {
  background: #1e1e1e;
}
